@import "../../../../../variables.scss";

@mixin not-links {
    color: $grey-text-color;
    font-size: 0.7rem;
    cursor: pointer;
    text-transform: capitalize;
    margin-top: 0.2rem;
    padding: 0 0.5rem 0 0.5rem;
    border-radius: 2px;
    text-transform: capitalize;
    letter-spacing: 0.025rem;
    &:hover {
        background-color: $dark-bg-color;
        color: $secondary-text-color;
        transition: all 0.5s ease-in;
    }
}

div.auth-login-alerts {
    ngb-alert {
        font-size: 0.8rem;
        letter-spacing: 0.025rem;
        animation: fadeIn;
        animation-duration: .5s;

        span {
            &::first-letter {
                text-transform: capitalize;
            }
        }

        button.close {
            &:focus {
                outline-width: 0px;
            }
        }
    }
}

div.auth-login-form {

    div.form-group {
        animation: fadeIn;
        animation-duration: 1s;
        input {
            // font-size: 1rem;
            letter-spacing: 0.025rem;
            border: 1px solid $primary-border-color;
            &::placeholder {
                font-size: 0.8rem;
            }

            &:focus {
                outline-width: 0px;
                border: 2px solid $primary-border-color;
                color: $primary-text-color;
                transition: all 0.2s ease;
                box-shadow: none;
            }
        }
        small {
            font-size: 0.6rem;
            letter-spacing: 0.025rem;
        }
        span.text-danger {
            font-size: 0.6rem;
            letter-spacing: 0.025rem;
            display: inline-block;
            &::first-letter {
                text-transform: capitalize;
            }
        }
        a.auth-fgt-password {
            float: right;
            @include not-links();
        }

        button {
            text-transform: uppercase;
            fa-icon {
                float: left;
            }
        }
    }
}
