@import "../../../../variables.scss";

div.app-account-user-dash {
    font-family: $roboto-font-family;
    padding-left: 0px;
    padding-right: 0px;
    @include md {
        padding-left: 15px;
        padding-right: 15px;
    }
    div.app-user-card {
        border-top: 1px solid #f0f0f0;
        box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
        div.card-body {
            // background-color: $grey-bg-color;
        }
    }

    a {
        color: $primary-text-color;
        text-decoration: none;
        display: block;
        margin-bottom: 1rem;
        div.card {
            border-top: 1px solid #f0f0f0;
            box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
            
            div.card-body {
                h6 {
                    text-transform: uppercase;
                    font-weight: bold;
                    letter-spacing: 0.045rem;
                }
                span {
                    letter-spacing: 0.025rem;
                }
            }
        }
        &:hover {
            div.card {
                background-color: $grey-bg-color;
            }
        }
    }
}
