<div class="row account-user-card">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <app-user-card></app-user-card>
            </div>
        </div>
    </div>
</div>
<div class="row mt-5 account-user-dash ">
    <div class="col-12 col-sm-6 col-md-4">
        <div class="card">
            <div class="card-body text-center">
                <h6 class="card-title">Card title</h6>
                
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4">
        <div class="card">
            <div class="card-body text-center">
                <h6 class="card-title ">Card title</h6>
               
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4">
        <div class="card">
            <div class="card-body text-center">
                <h6 class="card-title">Card title</h6>
            </div>
        </div>
    </div>
</div>