<div class="container app-account-user-dash">
    <div class="row">
        <div class="col-12">
            <div class="card app-user-card">
                <div class="card-body">
                    <app-user-card></app-user-card>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5 account-user-dash ">
        <div class="col-12 col-sm-6 col-md-4">
           <a routerLink="../orders">
            <div class="card">
                <div class="card-body text-center">
                    <fa-icon icon="truck-loading"></fa-icon>
                    <h6 class="card-title">orders</h6>
                    <span class="small">3 orders</span>
                </div>
            </div>
           </a>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
           <a routerLink="../addresses">
            <div class="card">
                <div class="card-body text-center">
                    <fa-icon icon="address-book"></fa-icon>
                    <h6 class="card-title ">addresses</h6>
                    <span class="small">1 Address</span>
                </div>
            </div>
           </a>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
           <a routerLink="../profile">
            <div class="card">
                <div class="card-body text-center">
                    <fa-icon icon="user-circle"></fa-icon>
                    <h6 class="card-title">profile</h6>
                    <span class="small">edit </span>
                </div>
            </div>
           </a>
        </div>
    </div>
</div>