<div class="filter-item"
     ngbDropdown
     #size="ngbDropdown">
    <button class="btn mr-2 head"
            id="dropdownManual"
            ngbDropdownAnchor
            (focus)="size.open()">
        <fa-icon icon="tape"></fa-icon>
        <span class=" d-none d-sm-inline">{{ !!this.selectedSizes[0]? 'Size: '+ this.selectedSizes[0].Letter : 'size'}}</span>
        <span class=" d-inline  d-sm-none"><b>{{ !!this.selectedSizes[0]?  this.selectedSizes[0].Letter : ''}}</b></span>
    </button>
    <div ngbDropdownMenu
         aria-labelledby="dropdownManual">
        <button ngbDropdownItem
                *ngFor='let size of sizes'
                id="{{size.Letter}}"
                (click)="emitSizeChange(size)">
            <b>{{size.Letter}}</b> - {{size.Label}}
        </button>

    </div>
</div>