@import "../../../variables.scss";
@import "../../../animate.scss";

.trend-item-wrapper {
  margin-left: 10%;
  background-color: #f8f9fa !important;
  margin-right: 10%;

  .trend-item {
    height: 250px;
    overflow: hidden;
    img {
      border-radius: 10px;
      width: 100%;
      height: 250px;
    }
  }

  .collection-item {
    height: 350px;
    // padding:.4rem;
    text-align: center;
    overflow: hidden;
    // border: 1px solid red;
    margin-top: 1rem;
    border-radius: 5px;
    img {
      position: relative;
      width: 100%;
      height: 349px;
      border-radius: 5px;
    }

    &:before {
      content: "";
      position: absolute;
      border-radius: 5px;
    }

    &:hover {
      &:before {
        background-color: rgba(0, 0, 0, 0.2);
      }
      img {
        transform: scale(1.2);
        transition: all 0.5s ease-out;
      }
      p.shop {
        animation-duration: 1s;
        animation-fill-mode: both;
        animation-name: zoomOut;
      }

      button.explore {
        visibility: visible;
        animation-duration: 1s;
        animation-fill-mode: both;
        animation-name: zoomIn;
      }

      h6.msg {
        animation-duration: 1s;
        animation-fill-mode: both;
        animation-name: zoomIn;
        visibility: visible;
      }
    }

    p.shop {
      color:#f1f1f1;
      position: absolute;
      font-size: 0.8rem;
      left: 30%;
      top: 80%;
      border-color: #f1f1f1;
      padding: 0.3rem;
      letter-spacing: 0.1rem;
      background-color: rgba(0, 0, 0, 0.2);
      cursor: pointer;
    }

    button.explore {
      position: absolute;
      left: 42%;
      top: 45%;
      font-size: 0.8rem;
      border-color: #f1f1f1;
      padding: 0.3rem;
      letter-spacing: 0.15rem;
      visibility: hidden;
      cursor: pointer !important;
    }

    h6.msg {
      position: absolute;
      color: white;
      top: 59%;
      font-size: 0.7rem;
      text-align: center;
      background: rgba(0, 0, 0, 0.4);
      letter-spacing: 0.15rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      border-radius: 5px;
      visibility: hidden;
      // display: inline-block;
      // border:1px solid red;
      text-align: center;
      // width: 90%;
      display: none;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .trend-item-wrapper {
    .trend-item {
      height: 300px;
      overflow: hidden;

      img {
        height: 300px;
      }
    }
    .collection-item {
      height: 600px;
      text-align: center;

      img {
        height: 600px;
      }
      p.shop {
        left: 35%;
        font-size: 1rem;
        padding: 0.5rem;
      }
      button.explore {
        left: 40%;
        font-size: 1rem;
        padding: 0.5rem;
      }

      h6.msg {
        // left: 24%;
        font-size: 1rem;
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .trend-item-wrapper {
    .trend-item {
      height: 300px;
      img {
        height: 298px;
      }
    }
    .collection-item {
      margin-top: 0px;
      height: 300px;
      text-align: center;

      img {
        height: 300px;
      }
      p.shop {
        left: 30%;
        top: 80%;
        font-size: 0.6rem;
        padding: 0.2rem;
      }
      button.explore {
        left: 40%;
        font-size: 0.6rem;
      }

      h6.msg {
        // left: 0%;
        font-size: 0.6rem;
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .trend-item-wrapper {
    .trend-item {
      height: 400px;
      img {
        height: 400px;
      }
    }
    .collection-item {
      margin-top: 0px;
      height: 400px;
      text-align: center;

      img {
        height: 400px;
      }
      p.shop {
        left: 32%;
        top: 80%;
        font-size: 0.8rem;
        padding: 0.5rem;
      }
      button.explore {
        left: 40%;
        font-size: 0.8rem;
      }

      h6.msg {
        margin-top: 1rem;
        // left: 12%;
        font-size: 0.8rem;
      }
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .trend-item-wrapper {
    .trend-item {
      height: 450px;
      img {
        height: 450px;
      }
    }
    .collection-item {
      margin-top: 0px;
      height: 450px;
      text-align: center;

      img {
        height: 450px;
      }
      p.shop {
        left: 32%;
        top: 80%;
        font-size: 1rem;
        padding: 0.5rem;
      }
      button.explore {
        left: 40%;
        font-size: 1rem;
      }

      h6.msg {
        // left:0px;
        // margin: auto;
        font-size: .8rem;
      }
    }
  }
}


// Extra large devices (x large desktops, 1200px and up)
@media (min-width: 1750px) {
  .trend-item-wrapper {
    .trend-item {
      height: 550px;
      img {
        height: 550px;
      }
    }
    .collection-item {
      margin-top: 0px;
      height: 550px;
      text-align: center;

      img {
        height: 550px;
      }
      p.shop {
        left: 32%;
        top: 80%;
        font-size: 1rem;
        padding: 0.5rem;
      }
      button.explore {
        left: 40%;
        font-size: 1rem;
      }

      h6.msg {
        // margin-top: 1rem;
        // left: 15%;
        font-size: 1rem;
      }
    }
  }
}
