<div class="color-wrapper">
    <ul class="list-inline">
        <li class="list-inline-item" 
            *ngFor="let c of colors; index as i">
            <span [ngStyle]="{'backgroundColor':c.Code}"
                  (click)="selectColor(c)"
                  #color
                  >
                <fa-icon [ngStyle]="{'visibility' : c.isSelected && !disable ? 'visible' : 'hidden' }"
                         [icon]="['fas','check']"></fa-icon>
            </span>
    
        </li>
    </ul>
</div>