<footer class="footer">

  <div class="row">
    <div class="col-12 col-md-6">
      <div class="row">
        <div class="col-6 ">
          <ul class="list-group brand-wrapper">
            <li class="list-group-item">
              <a class="brand" href="#">
                <fa-icon icon="atom"></fa-icon> <span>FOOZ</span>
              </a>
            </li>
            <li class="list-group-item address">
              <fa-icon icon="map-marker-alt"></fa-icon>
              <span> 184 Main Rd E, St Albans
                VIC 3021, Qatar</span>
            </li>
            <li class="list-group-item phone">
              <fa-icon icon="phone-alt"></fa-icon><span>+974-23456778</span>
            </li>
            <li class="list-group-item instagram">
              <fa-icon [icon]="faInstagram"></fa-icon><span>foozdesigns</span>
            </li>
          </ul>
  
        </div>
        <div class="col-6 ">
          <ul class="list-group  collections">
            <li class="list-group-item">
              <h6>Abaya Collections</h6>
            </li>
            <li class="list-group-item">
              <a href="">Spring Collection</a>
            </li>
            <li class="list-group-item">
              <a href="">Summer Collection</a>
            </li>
            <li class="list-group-item">
              <a href="">Wedding Collection</a>
            </li>
            <li class="list-group-item">
              <a href="">Latest Collection</a>
            </li>
  
          </ul>
  
        </div>  
      </div>
    </div>
    <div class="col-12 col-md-6 ">
      <div class="row">
        <div class="col-6 ">
          <ul class="list-group  information">
            <li class="list-group-item">
              <h6>Information</h6>
            </li>
            <li class="list-group-item">
              <a href="">About Us</a>
            </li>
            <li class="list-group-item">
              <a href="">Contact Us</a>
            </li>
            <li class="list-group-item">
              <a href="">Terms & Conditions</a>
            </li>
            <li class="list-group-item">
              <a href="">Shipping & Delivery</a>
            </li>
            <li class="list-group-item">
              <a href="">Privacy Policy</a>
            </li>
  
          </ul>
  
        </div>
        <div class="col-6">
          
          <div class="subscribe">
            <p>Subscribe to our newsletter for latest updates</p>
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="your email address" aria-label="your email address" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">subscribe</button>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>

</footer>
