@import "../../../variables.scss";

div.item {
  position: relative;
  overflow: hidden;

  div.item-heading {
    width: 100%;
    height: 400px;
    cursor: pointer;

    img {
      width: 100%;
      position: absolute;
      left: 0%;
      opacity: 1;
      height: 400px;
      border-radius: 5px;

      &:nth-child(1) {
        left: 0%;
      }
      &:nth-child(2) {
        left: 100%;
        transition: all 0.5s ease-out;
        opacity: 0;
      }
    }

    div.item-size {
      position: absolute;
      float: right;
      right: 2%;
      bottom: 22%;
      ul {
        li {
          padding: 0.2rem;
          background-color: transparent;
          border: none;

          span.size {
            display: inline-block;
            font-weight: 600;
            border: 1px solid $primary-border-color;
            color: $primary-text-color;
            text-align: center;
            line-height: 30px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            font-size: 0.8rem;
          }
        }
      }
    }

    div.item-mask {
      position: absolute;
      width: 100%;
      height: 300px;
      z-index: 1;
      opacity: 0;
      background-color: rgba(0, 0, 0, 0.2);
      ul.list-group {
        li.list-group-item {
          background: transparent;
          border-top-width: 0px;
          border-bottom-width: 0px;
          border-width: 0px;
          color: #f1f1f1;

          &:nth-child(3){
            margin-top: 3rem;
          }

          button {
            margin-left: 30%;
            margin-top: 35%;
            font-size: 0.8rem;
            padding: 0.5rem;
            padding-left: 1rem;
            padding-right: 1rem;
            letter-spacing: 0.1rem;
            text-transform: capitalize;
            border-radius: 20px;
          }
        }
      }
    }

    &:hover {
      div.item-mask {
        transition: all 0.5s ease-out;
        opacity: 1;
      }
      div.item-size {
        ul {
          li {
            span {
              border:2px solid $secondary-border-color;
              color: $secondary-text-color;
              transition: all .5s ease-in;
            }
          }
        }
      }
      img {
        &:nth-child(2) {
          left: 0%;
          opacity: 1;
        }
      }
    }
  }
  div.item-body {
    position: relative;
    font-family: $poppins-font-family;
    h6 {
      text-align: center;

      span.name,
      span.size {
        letter-spacing: 0.045rem;
        font-size: 1rem;
        text-transform: capitalize;
      }
      span.size {
        font-weight: 600;
        margin-left: 0.2rem;
      }

      span.price {
        font-weight: 600;
      }
    }

    div.color-codes {
      font-size: 1.2rem;
      text-align: center;
      ul {
        margin-bottom: 0.2rem;
        li {
          cursor: pointer;
        }
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  div.item {
    position: relative;
    overflow: hidden;
    div.item-heading {
      width: 100%;
      height: 350px;
      cursor: pointer;
      img {
        width: 100%;
        position: absolute;
        left: 1%;
        opacity: 1;
        height: 350px;

        &:nth-child(1) {
          left: 0%;
        }
        &:nth-child(2) {
          left: 100%;
          opacity: 0;
        }
      }
      &:hover {
        img {
          &:nth-child(2) {
            left: 0%;
            opacity: 1;
          }
        }
      }
    }
    div.item-body {
      position: relative;
      h6 {
        text-align: center;
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  div.item {
    position: relative;
    overflow: hidden;

    div.item-heading {
      width: 100%;
      height: 350px;
      cursor: pointer;
      img {
        width: 100%;
        position: absolute;
        left: 0%;
        opacity: 1;
        height: 350px;

        &:nth-child(1) {
          left: 0%;
        }
        &:nth-child(2) {
          left: 100%;
          opacity: 0;
        }
      }
      &:hover {
        img {
          &:nth-child(2) {
            left: 0%;
            opacity: 1;
          }
        }
      }
    }
    div.item-body {
      position: relative;
      h6 {
        text-align: center;
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  div.item {
    div.item-heading {
      div.item-mask {
        ul.list-group {
          li.list-group-item {
            button {
              margin-left: 25%;
            }
          }
        }
      }
    }
  }
}

// Extra large devices (x large desktops, 1200px and up)
@media (min-width: 1750px) {
  div.item {
    div.item-heading {
      height: 450px;
      img {
        width: 100%;
        height: 450px;
      }

      div.item-mask {
        height: 450px;

        ul.list-group {
          li.list-group-item {
            button {
              margin-left: 30%;
            }
          }
        }
      }
    }
  }
}
