@import "../../../../variables.scss";

div.modal-header {
    font-family: $roboto-font-family;
    border-bottom-width: 0;
    h5.modal-title {
        font-weight: 600;
        text-align: center;
        width: 100%;
        letter-spacing: 0.095rem;
        text-transform: uppercase;
        fa-icon.cart {
            margin-right: 1rem;
        }
    }

    button{
        &:focus{
            outline: none;
        }
    }
    
}
div.modal-body {
   

    div.app-cart-empty{
        padding:2rem;
        div.alert {
            text-align: center;
            text-transform: uppercase;
            color: #333;
            font-weight: 600;
            @include animate(fadeInUp, .5s);
        }

        button {
            font-size: .8rem;
            text-transform: uppercase;
            letter-spacing: 0.045rem;
            font-weight: 600;
            padding:1rem 1rem;
            @include animate(fadeInUp, .5s);
    
        }
    }
}

div.modal-footer {
    display: flex;
    font-family: $roboto-font-family;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    @include md{
        justify-content: space-between;
    }
    button {
        font-size: .8rem;
        text-transform: uppercase;
        letter-spacing: 0.045rem;
        font-weight: 600;
        padding:1rem 1rem;
        @include animate(fadeInUp, .5s);

    }
}

