@import "../../../../variables.scss";

div.modal-header {
    font-family: $roboto-font-family;
    h4.modal-title {
        font-weight: 600;
        text-align: center;
        width: 100%;
        letter-spacing: 0.095rem;
        text-transform: uppercase;
        fa-icon.cart {
            margin-right: 1rem;
        }
    }
}
div.modal-body {
    div.alert {
        text-align: center;
        text-transform: uppercase;
        color: #333;
        font-weight: 600;
    }
}

div.modal-footer {
    font-family: $roboto-font-family;
    justify-content: center;
    button {
        font-size: .8rem;
        text-transform: uppercase;
        letter-spacing: 0.045rem;
        font-weight: 600;
        @include animate(fadeInUp, .5s);
        span.text {
            
        }

    }
}
@media (min-width: 768px) {
    div.modal-footer {
        justify-content: space-between;
    }
}
