<div class="modal-header">
  <h5 class="modal-title">
    <fa-icon class="cart"
             icon="shopping-cart"></fa-icon>{{labels.cart}}
  </h5>
  <button type="button"
          class="close"
          aria-label="Close"
          (click)="closeModal()">
    <fa-icon icon="times"></fa-icon>
  </button>
</div>
<div class="modal-body">

  <div *ngIf="!!cart; else loading">

    <div class="app-cart-empty text-center"
         *ngIf="cart?.length == 0">
      <div class="alert alert-light"
           role="alert">
        {{labels.emptyCart}}
      </div>

      <button type="button"
              class="btn btn-sm btn-dark"
              (click)="routeToShop()">
        <span class="text">{{labels.goToShopping}}</span>
      </button>
    </div>


    <ul class="list-unstyled">
      <li class=" mb-1 py-2"
          *ngFor="let item of cart">
        <app-cart-item [item]="item"
                       (clicked)="routeToItemDetails($event)"
                       (itemDelete)="removeItem($event)"
                       (quantityChange)="updateCartItem($event)"></app-cart-item>
      </li>
    </ul>

  </div>
  <ng-template #loading>

    <div class="card">
      <div class="card-body text-center">
        <div class="spinner-border"
             role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </ng-template>
</div>
<div class="modal-footer"
     *ngIf="cart?.length > 0">
  <button type="button"
          class="btn btn-sm btn-outline-dark"
          (click)="routeToShop()">
    <span class="text">{{labels.goToShopping}}</span>
  </button>
  <button type="button"
          class="btn btn-sm btn-dark"
          (click)="routeToCheckout()">
    <span class="text">{{labels.goToCheckout}}</span>
  </button>
</div>