@import "../../../../../variables.scss";

div.media {
    font-family: $roboto-font-family;
    border: 1px solid $grey-border-color;
    border-radius: 5px;
    img {
        width: 128px;
        height: 128px;
        border-radius: 5px;
    }

    div.media-body {
        padding: 0.5rem;
        font-size: 0.5rem;
        a {
            color: $primary-text-color;
            text-decoration: none;
            font-size: 0.8rem;
            display: block;
            // font-weight: 600;
            line-height: 1.2;
            letter-spacing: 0.025rem;

            &:hover {
                background-color: #333;
                color: #f1f1f1;
                cursor: pointer;
                padding: 0 0.2rem 0.1rem 0.2rem;
                border-radius: 0.3rem;
                transition: 0.2s ease-in;
            }
        }
        ul.list-group {
            li {
                border-width: 0;
                padding: 0;
                padding-bottom: 0.5rem;
                span.color,
                span.size {
                    letter-spacing: 0.035rem;
                    text-transform: capitalize;
                    // font-family: $ptserif-font-family;
                    color: $grey-text-color;
                }
                span.badge{
                    border: 1px solid $grey-border-color;
                    text-transform: capitalize;
                }
                app-color,
                app-size {
                    display: inline-block;
                    padding-left: 0.3rem;
                }
                app-size {
                    padding-left: 1.3rem;
                }
            }
        }
        span.quantity {
            letter-spacing: 0.035rem;
            text-transform: capitalize;
            // font-family: $ptserif-font-family;
            color: $grey-text-color;
        }
        h6.price {
            font-weight: 600;
            font-size: 0.8rem;
        }

        div.cart-oper {
            border-top: 1px solid $grey-border-color;
            padding-top: 0.5rem;

            button {
                letter-spacing: 0.025rem;
                font-size: 0.8rem;
                float: right;
            }
        }
    }
}

@media (min-width: 768px) {
    div.media {
        div.media-body {
            font-size: 0.9rem;
            a {
                font-size: 0.9rem;
            }
            h6.price {
                font-size: 1rem;
            }
        }
    }
}
