@import "../../../../variables.scss";
div.app-addresses {
    font-family: $roboto-font-family;
    div.app-address-header {
        div.card {
            div.card-body {
                div.heading {
                    display: flex;
                    justify-content: space-between;

                    h6 {
                        text-transform: uppercase;
                        letter-spacing: 0.025rem;
                        font-weight: 600;
                    }
                    button {
                        font-size: 0.8rem;
                        span {
                            margin-left: 0.5rem;
                            text-transform: uppercase;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
    div.alert.app-addresses-alert {
        font-weight: 600;
        &::first-letter {
            text-transform: uppercase;
        }
    }
}
