<div class="app-payment">

    <div class="app-payment-header mb-2">
        <div class="card">
            <div class="card-body">
                <h6>{{labels.payment}}</h6>
            </div>
        </div>
    </div>

    <div class="app-payment-body">
        <div class="card">
            <div class="card-body">
                <p>payments to be hosted here</p>
            </div>
        </div>

        <div class="d-lg-none mt-2">
            <app-checkout-total></app-checkout-total>
        </div>
    </div>

    <div class="app-payment-footer">
        <div class="payment-controls">

            <button class="btn btn-dark m-2"
                    type="button"
                    (click)="payNow()">
                <fa-icon [icon]="['fas', 'spinner']"
                         [spin]="true"
                         *ngIf="paymentProgress"></fa-icon>
                <span>{{labels.payNow}}</span>
            </button>
        </div>

    </div>

</div>