<div class="app-payment">

    <div class="app-payment-header mb-2">
        <div class="card">
            <div class="card-body">
                <h6>{{labels.payment}}</h6>
            </div>
        </div>
    </div>
    <form action="">
        <div class="app-payment-body">
            <div class="card">
                <div class="card-body">
                    <div id="dropin-container"></div>
                </div>
            </div>
        </div>

        <div class="app-payment-footer">
            <div class="payment-controls">
                <button class="btn btn-dark m-2"
                        type="button"
                        (click)="payNow()">{{labels.payNow}}</button>
            </div>

        </div>
    </form>
</div>