<section class="card-wrapper ">
  <div class="row">
    <div class="col">
      <h6 class="item-heading py-5 "><span>TRENDING NOW</span> </h6>
    </div>
  </div>
  <div class="row">

    <!--item start-->
    <div class="col-12 col-md-4 col-lg-4 col-xl-3 my-2">
      <div class="item my-3">
        <div class="item-heading">
          <img src="../../assets/images/item1.jpeg" alt="image01" />
          <img src="../../assets/images/item2.jpeg" alt="image02" />
        </div>
        <div class="item-body py-4">
          <h6>
            <span class="name">lourine scripture</span> |
            <span class="size">XL</span>
          </h6>
          <h6>
            <span class="price">AED 400</span>
          </h6>
        </div>
      </div>
    </div>
    <!--item end-->

       <!--item start-->
       <div class="col-12 col-md-4 col-lg-4 col-xl-3 my-2">
        <div class="item my-3">
          <div class="item-heading">
            <img src="../../assets/images/item1.jpeg" alt="image01" />
            <img src="../../assets/images/item2.jpeg" alt="image02" />
          </div>
          <div class="item-body py-4">
            <h6>
              <span class="name">lourine scripture</span> |
              <span class="size">XL</span>
            </h6>
            <h6>
              <span class="price">AED 400</span>
            </h6>
          </div>
        </div>
      </div>
      <!--item end-->

         <!--item start-->
    <div class="col-12 col-md-4 col-lg-4 col-xl-3 my-2">
      <div class="item my-3">
        <div class="item-heading">
          <img src="../../assets/images/item1.jpeg" alt="image01" />
          <img src="../../assets/images/item2.jpeg" alt="image02" />
        </div>
        <div class="item-body py-4">
          <h6>
            <span class="name">lourine scripture</span> |
            <span class="size">XL</span>
          </h6>
          <h6>
            <span class="price">AED 400</span>
          </h6>
        </div>
      </div>
    </div>
    <!--item end-->

       <!--item start-->
       <div class="col-12 col-md-4 col-lg-4 col-xl-3 my-2">
        <div class="item my-3">
          <div class="item-heading">
            <img src="../../assets/images/item1.jpeg" alt="image01" />
            <img src="../../assets/images/item2.jpeg" alt="image02" />
          </div>
          <div class="item-body py-4">
            <h6>
              <span class="name">lourine scripture</span> |
              <span class="size">XL</span>
            </h6>
            <h6>
              <span class="price">AED 400</span>
            </h6>
          </div>
        </div>
      </div>
      <!--item end-->

         <!--item start-->
    <div class="col-12 col-md-4 col-lg-4 col-xl-3 my-2">
      <div class="item my-3">
        <div class="item-heading">
          <img src="../../assets/images/item1.jpeg" alt="image01" />
          <img src="../../assets/images/item2.jpeg" alt="image02" />
        </div>
        <div class="item-body py-4">
          <h6>
            <span class="name">lourine scripture</span> |
            <span class="size">XL</span>
          </h6>
          <h6>
            <span class="price">AED 400</span>
          </h6>
        </div>
      </div>
    </div>
    <!--item end-->

       <!--item start-->
       <div class="col-12 col-md-4 col-lg-4 col-xl-3 my-2">
        <div class="item my-3">
          <div class="item-heading">
            <img src="../../assets/images/item1.jpeg" alt="image01" />
            <img src="../../assets/images/item2.jpeg" alt="image02" />
          </div>
          <div class="item-body py-4">
            <h6>
              <span class="name">lourine scripture</span> |
              <span class="size">XL</span>
            </h6>
            <h6>
              <span class="price">AED 400</span>
            </h6>
          </div>
        </div>
      </div>
      <!--item end-->

         <!--item start-->
    <div class="col-12 col-md-4 col-lg-4 col-xl-3 my-2">
      <div class="item my-3">
        <div class="item-heading">
          <img src="../../assets/images/item2.jpeg" alt="image01" />
          <img src="../../assets/images/item1.jpeg" alt="image02" />
        </div>
        <div class="item-body py-4">
          <h6>
            <span class="name">lourine scripture</span> |
            <span class="size">XL</span>
          </h6>
          <h6>
            <span class="price">AED 400</span>
          </h6>
        </div>
      </div>
    </div>
    <!--item end-->


  </div>
</section>