@import '../../../variables.scss';

nav.navbar.optional-nav{
    ul{
        border:0px solid transparent;
        li{
            border: 0px solid transparent;
            background: transparent;
            font-size: .72rem;
            padding-top: 0px;
            padding-bottom: 0px;
        }

        li.phone{
            span{
                margin-left: .5rem;
                letter-spacing: .1rem;
            }
        }
        li.instagram{
            margin-top: -4px;
            font-size: 1rem;
            span{
                font-size: .72rem;
                margin-left: .5rem;
                letter-spacing: .1rem;
            }
        }
    }
}