<ul class="list-group list-group-flush ">
  <li class="list-group-item"
      *ngIf="!isPopup">
    <a routerLink="home"
       routerLinkActive="active"
       (click)="onClick()">
      <fa-icon [icon]="['fas','window-maximize']"></fa-icon>
      <span class="label">{{labels.home}}</span>
    </a>
  </li>
  <li class="list-group-item"
      *ngIf="!isPopup">
    <a routerLink="shop"
       routerLinkActive="active"
       (click)="onClick()">
      <fa-icon [icon]="['fas','store']"></fa-icon>
      <span class="label">{{labels.shop}}</span>
    </a>
  </li>

</ul>

<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <a routerLink="/account/orders"
       routerLinkActive=""
       (click)="onClick()">
      <fa-icon [icon]="['fas','shopping-bag']"></fa-icon>
      <span class="label">{{labels.orders}}</span>
    </a>
  </li>
  <li class="list-group-item">
    <a routerLink="/account/addresses"
       routerLinkActive=""
       (click)="onClick()">
      <fa-icon [icon]="['fas','address-book']"></fa-icon>
      <span class="label">{{labels.addresses}}</span>
    </a>
  </li>

  <li class="list-group-item">
    <a routerLink=""
       routerLinkActive=""
       (click)="onClick()">
      <fa-icon [icon]="['fas','info-circle']"></fa-icon>
      <span class="label">{{labels.support}}</span>
    </a>
  </li>
  <li class="list-group-item">
    <a routerLink=""
       routerLinkActive=""
       (click)="onClick()">
      <fa-icon [icon]="['fas','headset']"></fa-icon>
      <span class="label">{{labels.contact}}</span>
    </a>
  </li>
</ul>
