<div class="app-cart-view"
     @fadeIn
     *ngIf="cartService.cart$ | async as cart; else loading">
    <div class="cart-view-header"
         *ngIf="cartService.cartSize$ | async as cartsize">

        <div class="card">
            <div class="card-body">
                <div class="head-wrapper">
                    <h6>{{labels.reviewCart}}</h6>
                    <h6>{{labels.totalItems}} - <span class="badge badge-dark">{{cartsize}}</span> </h6>
                </div>
            </div>
        </div>
    </div>
    <div class=" cart-view-body">

        <div class=" py-2"
             *ngFor="let item of cart">
            <app-cart-item [item]="item"
                           (itemDelete)="removeItem($event)"
                           (quantityChange)="updateCartItem($event)"></app-cart-item>
        </div>
        <div class="d-lg-none mt-2">
            <app-checkout-total></app-checkout-total>
        </div>
    </div>
    <div class="cart-view-footer">

        <div class="cart-view-controls">
            <a class="btn btn-dark m-2"
               [routerLink]="['../address']">{{labels.orderButtonLabel}}</a>
        </div>
    </div>

</div>

<ng-template #loading>
    <div class="text-center">
        <div class="spinner-border text-secondary"
             role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</ng-template>