<div class="app-cart-view"
     *ngIf="cartService.cart$ | async as cart">
    <div class="cart-view-header">

        <div class="card">
            <div class="card-body">
                <div class="head-wrapper">
                    <h6>{{labels.reviewCart}}</h6>
                    <h6>{{labels.totalItems}} - <span class="badge badge-dark">{{cart.length}}</span> </h6>
                </div>
            </div>
        </div>

    </div>
    <div class=" cart-view-body">

        <div class=" py-2"
             *ngFor="let item of cart">
            <app-cart-item [item]="item"
                           (itemDelete)="removeItem($event)"
                           (quantityChange)="updateCartItem($event)"></app-cart-item>
        </div>

    </div>
    <div class="cart-view-footer">

        <div class="cart-view-controls">
            <a class="btn btn-dark m-2"
            [routerLink]="['../address']"
            >{{labels.orderButtonLabel}}</a>
        </div>
    </div>

</div>