@import '../../../../variables.scss';

div.toast-outer-container{
    position: fixed;
    width: 90%;
    margin:5%;
    z-index: 999;
    min-height: 300px;
    top: 10%;

    @include md{
        top: 6%;
    }

    @include lg{
        top: 6%;
    }
    @include xl{
        top: 2%;
    }

    div.container{
        div.row{
            div.toast-wrapper{
                font-family: $roboto-font-family;
                @include animate(bounceInDown, .8s);
                span.toast-message{
                    font-size:1rem;
                    letter-spacing: .045rem;
                    text-transform: capitalize;
                }
               
            }
        }
    }
}