@import "../../../../variables.scss";

div.toast-outer-container {
    position: fixed;
    width: 100%;
    z-index: 1051;
    top: 10%;

    @include lg {
        width: auto;
        min-height: 100px;
        top: 16%;
        right: 0%;
    }

    div.toast-wrapper {
        font-family: $roboto-font-family;
        display: flex;
        width: 100%;
        padding: 15px;
        justify-content: flex-end;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        @include animate(slideInDown, 0.2s);
        @include lg {
            @include animate(slideInDown, 0.1s);
            flex-wrap: nowrap;
            align-items: flex-end;
        }

        span.toast-message {
            font-size: 0.8rem;
            letter-spacing: 0.045rem;
            text-transform: capitalize;
            display: block;
            width: 100%;
            @include lg {
                font-size: 0.9rem;
            }
        }

        .toast-success {
            min-width: 250px;
            background-color: #4be16d;
            color: #333;
            box-shadow: 2px 2px 3px #21772f;
            border: none;
            @include animate(slideInDown, 0.3s);
            @include lg {
                padding: 0.2rem;
            }
        }
        .toast-warning {
            min-width: 250px;
            background-color: #f7bb0a;
            color: #333;
            box-shadow: 2px 2px 3px #9b7505;
            border: none;
            @include animate(slideInDown, 0.3s);
            @include lg {
                padding: 0.2rem;
            }
        }
        .toast-danger {
            min-width: 250px;
            background-color: #dc3545;
            color: #fff;
            box-shadow: 2px 2px 3px #680912;
            border: none;
            @include animate(slideInDown, 0.3s);
            @include lg {
                padding: 0.2rem;
            }
        }
    }
}
