<!-- auth header anchor //start-->
<a class="auth-profile"
   placement="bottom"
   [ngbPopover]="popContent"
   [popoverTitle]="popTitle"
   triggers="mouseenter"
   [autoClose]="'true'"
   [popoverClass]="'pop-style'"
   #p = "ngbPopover"
   >
  
   <div>
      <fa-icon class="far" [icon]="['far','user']"></fa-icon>
      <fa-icon class="fas" [icon]="['fas','user']"></fa-icon>
   </div>
   <span class=" label small d-none d-md-block">{{labels.profile}}</span>
   <span class="hog"></span>
</a>

<!--- auth header anchor //end-->

<ng-template #popTitle>
   <ng-template #loading>
      <div class="row">
         <div class="col-12 text-center" >
            <span>
               <fa-icon [icon]="['fas', 'spinner']"
                        [spin]="true"></fa-icon>

            </span>
         </div>
      </div>
   </ng-template>

   <div class="row"
        *ngIf="!!authUser ; else loading"
        >
      <div class="col-12 pop-title">
         <div class="auth-anonymous"
              *ngIf="!!authUser && authUser?.IsAnonymous">
            <p><b>{{labels.welcome}}</b><br><span> {{labels.welcomeAuthMsg}}</span></p>
            <a class="btn btn-sm btn-light"
               [routerLink]="[{outlets: {'secure': ['auth']}}]">
               <span>{{labels.login}}</span> | <span>{{labels.signup}}</span>
            </a>
         </div>
         <div class="auth-loggedin"
              *ngIf="!!authUser && !authUser?.IsAnonymous">
            <img class="rounded-circle dp"
                 [src]=" authUser.PhotoURL "
                 [alt]=""
                 *ngIf="!!authUser?.PhotoURL">
            <span class=" rounded-circle dp"
                  *ngIf="!authUser?.PhotoURL && !!authUser?.Email">{{authUser.Email.substr(0,2)}}
            </span>

            <p class="name">{{authUser?.Name}}</p>
            <p class="email">{{authUser?.Email}}</p>
            <a class="btn btn-sm btn-light">
               {{labels.manageProfile}}
            </a>
         </div>
      </div>
   </div>
</ng-template>

<ng-template #popContent>
   <div class="row">
      <div class="col-12 pop-content">
         <ul class="list-group list-group-flush">
            <li class="list-group-item">
               <a>
                  <fa-icon icon="user"></fa-icon>
                  <span>profile</span>
                  <span class="badge  badge-pill badge-dark"
                        *ngIf="!authUser?.IsAnonymous && authUser?.IsEmailVerified">{{  labels.verifiedAccount}}</span>
                  <span class="badge  badge-pill badge-danger"
                        *ngIf="!authUser?.IsAnonymous && !authUser?.IsEmailVerified"
                        (click)="sendEmailVerification()">{{ authUser?.IsEmailVerified ? labels.verifiedAccount : labels.notVerifyAccount}}</span>
               </a>
            </li>
            <li class="list-group-item">
               <a href="#">
                  <fa-icon [icon]="['fas', 'truck-loading']"></fa-icon>
                  <span>{{labels.orders}}</span>
               </a>
            </li>

            <li class="list-group-item">
               <a href="#">
                  <fa-icon [icon]="['fas', 'address-book']"></fa-icon>
                  <span>{{labels.addresses}}</span>
               </a>
            </li>

         </ul>
         <ul class="list-group list-group-flush">
            <li class="list-group-item">
               <a href="#">
                  <fa-icon [icon]="['fas','info-circle']"></fa-icon>
                  <span>{{labels.support}}</span>
               </a>
            </li>
            <li class="list-group-item">
               <a href="#">
                  <fa-icon [icon]="['fas','headset']"></fa-icon>
                  <span>{{labels.contact}}</span>
               </a>
            </li>
         </ul>
      </div>
   </div>
   <div class="row">
      <div class="col-12 pop-footer">
         <ul class="list-group list-group-flush"
             *ngIf="!authUser?.IsAnonymous">
            <li class="list-group-item">
               <button class="btn btn-sm btn-light"
                       (click)="logOut()">
                  {{labels.signout}}
               </button>
            </li>
         </ul>
      </div>
   </div>

</ng-template>

<!-- router outlet for auth modal-->
<router-outlet name="secure"></router-outlet>