@import "../../../../../../../variables.scss";
div.app-order-price {
    font-family: $roboto-font-family;
    border-top: 2px dotted #dee2e6;
    padding: 1rem 0;
    @include lg {
        border-left: 2px dotted #dee2e6;
        border-top: none;
        padding: 0 1rem;
    }
    h6.title {
        @include headerTitle();
    }
    div.tabular {
        display: table;
        div.item-property {
            display: table-row;
            padding-bottom: 0.5rem;
            span.label {
                display: table-cell;
                text-transform: uppercase;
                letter-spacing: 0.045rem;
                font-size: 0.8rem;
                margin-right: 0.5rem;
            }
            span.value {
                display: table-cell;
                letter-spacing: 0.025rem;
                font-size: 0.9rem;
                font-weight: 600;
                text-transform: uppercase;
                padding: 0 0.5rem;
            }
            span.badge {
                text-transform: capitalize;
                letter-spacing: 0.025rem;
                display: table-cell;
            }

            &.total {
                border-top: 1px dotted #dee2e6;
            }
        }
    }
}
