<div class="app-order-price">
    <h6 class="title">{{labels.priceDetails}}</h6>
    <div class="tabular">
        <div class="item-property">
            <span class="label">{{labels.price}}:</span>
            <span class="value">{{payment.Price.Code}} {{payment.Price.Amount}}</span>
        </div>
        <div class="item-property">
            <span class="label">{{labels.shipping}}:</span>
            <span class="value">{{payment.Shipping.Code}} {{payment.Shipping.Amount}}</span>
        </div>
        <div class="item-property">
            <span class="label">{{labels.tax}}:</span>
            <span class="value">{{payment.Tax.Code}} {{payment.Tax.Amount}}</span>
        </div>
        <div class="item-property"
             *ngIf="payment.Coupon">
            <div class="tabular">
                <div class="item-property">
                    <span class="label">{{labels.couponDiscount}}:</span>
                </div>
                <div class="item-property">
                    <span class="badge border border-success text-success mx-1"
                          placement="bottom"
                          [openDelay]="300"
                          [closeDelay]="500"
                          [tooltipClass]="'tool-tip-style'"
                          [tooltipClass]="'tool-tip-style'"
                          ngbTooltip="{{payment.Coupon.Title}}">{{payment.Coupon.Code}}</span>
                </div>
            </div>

            <span class="value">{{payment.Price.Code}}
                {{payment.Coupon.Value}}</span>
        </div>
        <div class="
                  item-property
                  total
                  mt-2">
            <span class="label"> {{labels.total}}:</span>
            <span class="value"> {{payment.Price.Code}}
                {{payment.Price.Amount+ payment.Tax.Amount + payment.Shipping.Amount - payment.Coupon.Value}}</span>
        </div>
    </div>
</div>