<section class="look-book">

    <div class="row">

        <div class="col-12 col-md-4 my-2  ">
            <div class="card-mask">
                <div class="lookbook-card">
                    <div class="card-header">
                        <img src="https://i.imgur.com/fZube9X.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="card-msg">
                        <a  class="btn">view collection</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 my-2 ">
            <div class="card-mask">
                <div class="lookbook-card">
                    <div class="card-header">
                        <img src="https://i.imgur.com/5klgWLF.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="card-msg">
                        <a  class="btn">view collection</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 my-2 ">
            <div class="card-mask">
                <div class="lookbook-card">
                    <div class="card-header">
                        <img src="https://i.imgur.com/ZMloszy.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="card-msg">
                        <a  class="btn">view collection</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 my-2 ">
            <div class="card-mask">
                <div class="lookbook-card">
                    <div class="card-header">
                        <img src="https://i.imgur.com/rnRqUoz.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="card-msg">
                        <a  class="btn">view collection</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-8 mx-auto my-2">
            <div class="card-mask">
                <div class="lookbook-card">
                    <div class="card-header">
                        <img src="https://i.imgur.com/TOgkCkT.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="card-msg">
                        <a  class="btn">view collection</a>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</section>