nav.app-nav-bar {
    width: 100%;
    position: sticky;
    min-height: 200px;
    box-shadow: 0px 2px 2px #010101;
    margin-bottom: 2px;
    display: flex;
    flex-direction: column;
    z-index: 1020;
    div.top {
        // width: 100%;
        padding: 1rem;
        border:1px solid red;
        display:  flex;
        justify-content: space-between;
    }
    div.bottom {
        // width: 100%;
        padding: 1rem;
        border:2px solid green;
    }
}
