<app-sidebar>

  <div class="sidebar-content-wrapper">
    <div class="row">
      <div class="col-12">
        <a class="nav-close">
          <fa-icon icon="times" (click)="closeSideNav()"></fa-icon>
        </a>
      </div>
      <div class="col-12">
        <a class="sidenav-brand middle" routerLink="home">
          <fa-icon icon="atom"></fa-icon>
          <span>Fooz</span>
        </a>
      </div>

      <div class="col-12 ">
        <ul class="list-group list-group-flush ">
          <li class="list-group-item ">
            <a routerLink="home" routerLinkActive="active" (click) ="closeSideNav()">Home
              <span></span>
            </a>
          </li>
          <li class="list-group-item">
            <a routerLink="shop" routerLinkActive="active"  (click) ="closeSideNav()">shop
              <span></span>
            </a>
          </li>
          <li class="list-group-item">
            <a  (click) ="closeSideNav()">cart 
              <!-- <app-cart></app-cart> -->
              <span></span>
            </a>
            
          </li>
        </ul>
      </div>
    </div>
  </div>
</app-sidebar>

<nav class="navbar sticky-top navbar-expand-lg py-2">
  <a class="nav-toggle  ">
    <fa-icon icon="bars" (click)="openSideNav()"></fa-icon>
  </a>
  <a class="navbar-brand home " routerLink="home">
    <fa-icon icon="atom"></fa-icon>
    <span>FOOZ</span>
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto ">

      <li class="nav-item">
        <a class="nav-link" routerLink="home" routerLinkActive="active">
          home
          <span></span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="shop" routerLinkActive="active">shop
          <span></span>
        </a>
      </li>


    </ul>

    <a class="navbar-brand middle" routerLink="home">
      <fa-icon icon="atom"></fa-icon>
      <span>Fooz</span>
    </a>

    <ul class="list-group list-group-horizontal nav-portal ">
      <!-- <li class="list-group-item">
        <app-search></app-search>
      </li> -->
      <li class="list-group-item">
        <app-auth></app-auth>
      </li>
      <li class="list-group-item ">
        <app-cart></app-cart>
      </li>
    </ul>

  </div>
</nav>