<app-sidebar [bgColor]="'white'">

  <div class="sidebar-content-wrapper" *ngIf="!isNavClosed">
    <div class="row">
      <div class="col-12 header">
        <a class="nav-close">
          <fa-icon icon="times"
                   (click)="closeSideNav()"></fa-icon>
        </a>

        <a class="sidenav-brand"
           routerLink="home">
          <fa-icon icon="atom"></fa-icon>
          <span>Fooz</span>
        </a>

      </div>

      <div class="col-12 ">
        <ul class="list-group list-group-flush ">
          <li class="list-group-item " style="animation-duration: .5s;">
            <a routerLink="home"
               routerLinkActive="active"
               (click)="closeSideNav()">
               <fa-icon [icon] ="['fas','window-maximize']"></fa-icon>home
              <span></span>
            </a>
          </li>
          <li class="list-group-item" style="animation-duration: 1s;">
            <a routerLink="shop"
               routerLinkActive="active"
               (click)="closeSideNav()">
               <fa-icon [icon] ="['fas','store']"></fa-icon>shop
              <span></span>
            </a>
          </li>
          <li class="list-group-item" style="animation-duration: 1.5s;">
            <a routerLink=""
               routerLinkActive=""
               (click)="closeSideNav()">
               <fa-icon [icon] ="['fas','info-circle']"></fa-icon>support
              <span></span>
            </a>
          </li>
          <li class="list-group-item" style="animation-duration: 2s;">
            <a routerLink=""
               routerLinkActive=""
               (click)="closeSideNav()">
               <fa-icon [icon] ="['fas','headset']"></fa-icon>contact
              <span></span>
            </a>
          </li>
          <li class="list-group-item" style="animation-duration: 2.5s;">
            <a routerLink=""
               routerLinkActive=""
               (click)="closeSideNav()">
               <fa-icon [icon] ="['fas','truck']"></fa-icon>delivery
              <span></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</app-sidebar>

<nav class="navbar sticky-top navbar-light  justify-content-between flex-nowrap flex-row">

  <ul class="nav navbar-nav flex-row nav-left">
    <li class="nav-item mr-2 d-md-none">
      <a class="nav-link">
        <fa-icon icon="bars"
                 (click)="openSideNav()"></fa-icon>
      </a>
    </li>
    <li class="nav-item mr-5">
      <a class="nav-link brand"
         routerLink="home">
        <fa-icon icon="atom"
                 class="d-none d-md-inline mr-1"></fa-icon>
        <span>FOOZ</span>
      </a>
    </li>
    <li class="nav-item mr-3 d-none d-md-block">
      <a class="nav-link app-link"
         routerLink="home"
         routerLinkActive="active">
        home
        <span></span>
      </a>
    </li>
    <li class="nav-item d-none d-md-block">
      <a class="nav-link app-link"
         routerLink="shop"
         routerLinkActive="active">
        shop
        <span></span>
      </a>
    </li>
  </ul>

  <ul class="nav navbar-nav flex-row float-right nav-right">
    <!-- <li class="nav-item mr-3 mr-lg-4">
      <a class="nav-link ">
        <app-search ></app-search>
      </a>
    </li> -->
    <li class="nav-item d-none d-lg-block mr-lg-4">
      <a class="nav-link">
        <app-auth></app-auth>
      </a>
    </li>

    <li class="nav-item ">
      <a class="nav-link">
        <app-cart></app-cart>
      </a>

    </li>

  </ul>

</nav>