@import "../../../../../../variables.scss";

.quantity-wrapper {
  font-family: $poppins-font-family;
  h6 {
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 2rem;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
  }

  .input-group {
    width: 50%;
    background: #333;
    border-radius: 5px;
    input.form-control.form-control-sm {
      background-color: transparent;
      font-weight: 600;
      text-align: center;
      border: 1px solid #333 !important;
      padding: 0;
      // color: #f1f1f1;
      background-color: #f1f1f1;
    }

    div.input-group-prepend,
    div.input-group-append {
      cursor: pointer;
      span {
        background-color: $dark-bg-color;
        color: $secondary-text-color;
        padding: 0;
        font-size: 0.8rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        border-width: 0px;
        border: 1px solid #333;
        background: #333;
        border-radius: 5px;
      }
      &:hover {
        span {
          background-color: $dark-bg-color;
          color: $secondary-text-color;
        }
      }

      &:focus {
        span {
          font-weight: 600;
        }
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .quantity-wrapper {
    .input-group {
      width: 40%;
    }
  }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .quantity-wrapper {
    .input-group {
      width: 20%;
    }
  }
}



// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .quantity-wrapper {
    .input-group {
      width: 30%;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
