<div class="row animated fadeIn">
    <div class="col">
        <div class="category-wrapper">
            <h6>Select Abaya Type</h6>
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="category"
                         (click)="setCategory('BA')">
                        <span class="check-box">
                            <fa-icon  [icon]="['fas','circle']"
                                     [ngStyle]="{'opacity': isButtonedAbaya() ? '1' : '0'}"></fa-icon>
                        </span>
                        <label class="form-check-label"
                               for="radio1">
                            Buttoned Abaya
                        </label>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="category"
                         (click)="setCategory('CO')">
                        <span class="check-box">
                            <fa-icon [icon]="['fas','circle']"
                                     [ngStyle]="{'opacity': isCenterOpenAbaya() ? '1' : '0'}"></fa-icon>
                        </span>
                        <label class="form-check-label"
                               for="radio1">
                            Center Open Abaya
                        </label>
                    </div>
                </li>
            </ul>
            <hr>
        </div>
    </div>
</div>