<div class="app-order mt-3">
    <div class="app-order-header d-flex  justify-content-between ">
        <h6 class="order-title pt-2">
            <label for="order-id">{{labels.orderId}}:</label>
            <span id="order-id">{{order.OrderItem.Id}}</span>
        </h6>
        <button class="btn btn-sm btn-light"
                (click)="showDetails(order.OrderItem.Id)">
            <span>{{labels.viewDetails}}</span>
            <fa-icon icon="angle-double-right"></fa-icon>
        </button>
    </div>
    <div class="app-order-body">
        <app-order-products [items]="order.Cart"
                            [statusList]="order.StatusList">
        </app-order-products>
    </div>
</div>