@import "../../../../../variables.scss";

.item-details-wrapper {
  margin-left: 10%;
  margin-right: 10%;
  //   border:1px solid red;
  .pd-info{
    // background-color: #f6f6f8;
    border-radius: 2px;
    margin-top: 1rem;
    // box-shadow: 0 0 2px rgba(0, 0, 0, 0.22);
  }

  }

  .item-suggest-wrapper{
    margin-top: 5rem;
  }

