@import "../../../../../variables.scss";

section.item-details-wrapper {
    background-color: #fff;
    padding-top: 2rem;
    padding-bottom: 2rem;
    @include lg {
        padding: 0 10%;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

section.item-suggest-wrapper {
    margin-top: 5rem;
}
