<section class="card-wrapper ">
  <div class="row">
    <div class="col content-heading">
      <h6 class=" pt-5 "><span class="x"></span> <span>Featured Abayas</span><span class="y"></span> </h6>
      <span class="shop-msg">Shop now</span>
      <span class="shop-msg">
        <fa-icon icon="arrow-alt-circle-down"></fa-icon>
      </span>
    </div>
  </div>
  <div class="row">
    
      <app-item 
      class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 my-1"
      *ngFor="let item of items" [item] ="item"
      ></app-item>
    
    

  </div>
</section>