@import "../../../../../../variables.scss";
div.side-filter-wrapper{
    font-family: $roboto-font-family;
    h6.filter-heading{
        font-weight: 600;
        letter-spacing: .09rem;
        text-transform: capitalize;
    }
    ul{

        li{
            @include animate();
            border-width: 0px !important;
            padding: 0rem 1rem 0rem 0rem;
            background-color: transparent;
            label{
                letter-spacing: .025rem;
                font-size: .8rem;
                text-transform: capitalize;
            }
        }
    }
}