@import "../../../../../../variables.scss";

div.customize-wrapper {
  font-family: $poppins-font-family;

  button {
    text-transform: initial;
    letter-spacing: 0.01rem;
    padding: 0.2rem;
    margin-bottom: 1rem;
    &:focus {
      box-shadow: 0 0 0 transparent;
    }
  }

  ul {
    li.close-wrapper {
      background-color: $grey-bg-color;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      div.close {
        fa-icon {
          cursor: pointer;
        }
      }
    }
    li {
      div.form-check {
        label {
          font-weight: 600;
          text-transform: capitalize;
        }
      }
    }
  }
}
