<section class="card-wrapper ">
  <div class="row">
    <app-pre-card class="col-6 col-sm-4 col-md-4 col-lg-4 col-xl-3 my-1"
                  *ngFor="let i of preloadItems"></app-pre-card>
    <app-item class="col-6 col-sm-4 col-md-4 col-lg-4 col-xl-3 my-1"
              *ngFor="let product of items | filterBySize: selectedSize |filterByCategory: selectedCategory | sort: selectedSort"
              [item]="product"
              [sourcePage] = "'shop'"
              ></app-item>
  </div>
  <div class="row">
    <div class="col">
      <div class="more-items-wrapper text-center">
        <button type="button"
                class="btn btn-outline-dark"
                [ngClass] ="{'loading': !!moreItemsLoading, 'bg-black': !!moreItemsLoading}"
                (click)="addMoreProductsToStore()">
                show more Items
              </button>
      </div>
    </div>
  </div>
</section>