
<div class="fooz-container ">
  <div class="box">
    <img src="https://i.imgur.com/rnRqUoz.jpg">
  
  </div>
  <div class="box">
    <img src="https://i.imgur.com/HfLyMbY.jpg">
  
  </div>
  <div class="box">
    <img src="https://i.imgur.com/5klgWLF.jpg">
  
  </div>
  <div class="box">
    <img src="https://i.imgur.com/MWuHpsl.jpg">
    
  </div>
  
</div>
<section class="trend-item-wrapper  ">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="parallax"></div>
      </div>
    </div>
  </div>
</section>
