@import "../../../../variables.scss";

@mixin reset-slide {
  flex: 1;
  img {
    width: 100%;
    height: calc(100% - 5vh);
  }
}


@mixin expand-slide {
  flex: 1 1 23%;
  img {
    width: 100%;
    height: 100%;
  }
}

.fooz-container {
  display: flex;
  width: 100%;
  padding: 4% 2%;
  box-sizing: border-box;
  height: 40vh;

  .box {
    flex: 1;
    overflow: hidden;
    transition: 0.5s;
    margin: 0 2%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    line-height: 0;

    img {
      width: 100%;
      height: calc(100% - 5vh);
      object-fit: cover;
      object-position: center;
      transition: 0.5s;
      cursor: pointer;
    }

    &:hover {
      @include expand-slide();
    }
    &:nth-child(3) {
      @include expand-slide();
    }

    &:nth-child(1):hover ~ .box:nth-child(3) {
      @include reset-slide();
    }
    &:nth-child(2):hover ~ .box:nth-child(3) {
      @include reset-slide();
    }
    &:nth-child(4):hover > .box:nth-child(3) {
      @include reset-slide();
    }
    &:nth-child(5):hover > .box:nth-child(3) {
      @include reset-slide();
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .fooz-container {
    height: 60vh;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .fooz-container {
    height: 60vh;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .fooz-container {
    height: 70vh;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .fooz-container {
    height: 90vh;
  }
}
