
<div class="fooz-container ">
  <div class="box">
    <img src="https://i.imgur.com/rnRqUoz.jpg">
  
  </div>
  <div class="box">
    <img src="https://i.imgur.com/HfLyMbY.jpg">
  
  </div>
  <div class="box">
    <img src="https://i.imgur.com/5klgWLF.jpg">
  
  </div>
  <div class="box">
    <img src="https://i.imgur.com/MWuHpsl.jpg">
    
  </div>
  <div class="box">
    <img src="https://i.imgur.com/MWuHpsl.jpg">
    
  </div>
  <div class="box">
    <img src="https://i.imgur.com/HfLyMbY.jpg">
  
  </div>
  
</div>
<section class="trend-item-wrapper  ">
  <app-parallax [title]="'fooz collection'" [imgUrl] = "'../../../../assets/img/splash4.jpg'"></app-parallax>
</section>
