<div ngbDropdown
     #categ="ngbDropdown">
    <button class="btn btn-outline-dark mr-2"
            id="dropdownManual"
            ngbDropdownAnchor
            (focus)="categ.open()">
        <fa-icon [icon]="['fas', getIcon() ]"></fa-icon>
        <span class=" d-none d-sm-inline">{{!!this.selectedCategories[0]? this.selectedCategories[0].Label : 'Categories'}}</span>
    </button>
    <div ngbDropdownMenu
         aria-labelledby="dropdownManual">

        <button ngbDropdownItem
                *ngFor="let category of categories"
                id="{{category.Code}}"
                (click)="emitCategoryChange(category)">
            <fa-icon icon="{{category.Icon }}"></fa-icon>
             {{ category.Label}}
        </button>
    </div>
</div>