<div class="app-order-detail"
     *ngIf="selectedOrder as order"
     @fadeIn>
    <div class="order-detail-header mb-2 py-4">
        <div class="order-id mb-2">
            <h6 class="order id">
                <span class="label">{{labels.orderId}}:</span>
                <span class="value">{{order.OrderItem.Id}}</span>
            </h6>
        </div>
    </div>

    <div class="order-detail-header d-flex flex-column flex-lg-row ">
        <div class="order-address flex-fill my-1 my-lg-0 "
             *ngIf="order.Address as address">
            <app-order-address [address]="address"></app-order-address>
        </div>

        <div class="order-price flex-fill "
             *ngIf="order.Payment as payment">
            <app-order-price [payment]="payment"></app-order-price>
        </div>
    </div>
    <div class="order-detail-status mt-2"
         *ngIf="order.StatusList as statusList">
        <app-order-status [stage]="statusInput">
        </app-order-status>
    </div>
    <div class="order-detail-body">
        <app-order-products [items]="order.Cart"
                            [statusList]="order.StatusList"></app-order-products>
    </div>
    <div class="order-detail-footer d-flex flex-column flex-sm-row justify-content-end"
         *ngIf="(!statusInput.shipped.done && !statusInput.cancelled.done) || statusInput.delivered.done || statusInput.complete.done ">
        <button class="btn btn-danger  mb-2 mb-sm-0"
                *ngIf="!statusInput.shipped.done && !statusInput.cancelled.done">
            <span>{{labels.cancel}}</span>
        </button>
        <button class="btn  btn-dark"
                *ngIf="statusInput.delivered.done || statusInput.complete.done">
            <span>{{labels.invoice}}</span>
        </button>
    </div>
</div>