<div class="filter-item"
     ngbDropdown
     #size="ngbDropdown">
    <button class="btn btn-outline-dark mr-2"
            id="dropdownManual"
            ngbDropdownAnchor
            (focus)="size.open()">
        <fa-icon icon="tape"></fa-icon> 
        {{ !!this.selectedSize? 'Size: '+ this.selectedSize.getLetter() : 'size'}}
    </button>
    <div ngbDropdownMenu
         aria-labelledby="dropdownManual">
        <button ngbDropdownItem 
        *ngFor='let size of sizes'
        id ="{{size.getLetter()}}"
        (click) ="emitSizeChange(size)"
        >
            <b>{{size.getLetter()}}</b> - {{size.getLabel()}}
        </button>
    
    </div>
</div>