@import '../../../../variables.scss';

ol.breadcrumb {
    background: transparent !important;
    font-family: $poppins-font-family;
    li{
      font-size: .7rem;
      letter-spacing: .059rem;
    }
  }