@import "../../../../../../../variables.scss";

@mixin complete-step($delay: 0s, $color: var(--success)) {
    .tool-tip-style {
        font-family: $roboto-font-family;
        div.arrow {
            &::before {
                border-bottom-color: $color;
            }
        }
        div.tooltip-inner {
            background-color: #fff;
            color: $color;
            border: 1px solid $color;
            box-shadow: 2px 2px 2px $color;
        }
    }

    span {
        opacity: 1;
        animation: stepComplete;
        animation-duration: 1s;
        animation-delay: $delay;
        animation-fill-mode: both;
        border: 1px solid $color;
        color: $color;

        &:hover {
            color: #f1f1f1;
            background: $color;
        }
    }
    &::before {
        background-color: $color;
        border-color: $color;
        animation: stepComplete;
        animation-duration: 1s;
        animation-delay: $delay;
        animation-fill-mode: both;
    }
    + li:after {
        background-color: $color;
        border-color: $color;
        animation: stepProgress;
        animation-duration: 1s;
        animation-fill-mode: both;
        animation-delay: $delay;
        width: 100%;
        opacity: 1;
    }
}

@mixin incomplete-step($delay: 0s) {
    span {
        opacity: 1;
        animation: stepComplete;
        animation-duration: 1s;
        animation-delay: $delay;
        animation-fill-mode: both;
    }
    &::before {
        // background-color: var(--success);
        // border-color: var(--success);
        animation: stepComplete;
        animation-duration: 1s;
        animation-delay: $delay;
        animation-fill-mode: both;
    }
}

div.app-order-status {
    font-family: $roboto-font-family;
    // padding: 1rem;
    width: 100%;
    position: relative;
    h6 {
        @include headerTitle();
        margin-bottom: 2rem;
    }
    ul.progressbar {
        display: flex;
        padding: 0;
        li.step {
            list-style-type: none;
            float: left;
            width: 25%;
            text-align: center;
            position: relative;
            cursor: pointer;

            &::before {
                content: "";
                width: 24px;
                height: 24px;
                border: 2px solid #333;
                display: block;
                text-align: center;
                margin: 0 auto 10px auto;
                border-radius: 50%;
                background-color: #333;
                z-index: 1;
                position: relative;
            }

            &::after {
                position: absolute;
                content: "";
                width: 0%;
                height: 4px;
                background-color: #333;
                top: 10px;
                left: -50%;
                z-index: 0;
                opacity: 0;
            }

            &:first-child {
                &::after {
                    content: none;
                }
            }
            span {
                text-transform: uppercase;
                letter-spacing: 0.045rem;
                opacity: 0;
                transition: all 0.5s ease-in;
            }

            &.complete-1 {
                @include complete-step(0s);
            }
            &.complete-2 {
                @include complete-step(1s);
            }
            &.complete-3 {
                @include complete-step(2s);
            }
            &.complete-4 {
                @include complete-step(3s);
            }

            &.incomplete-1 {
                @include incomplete-step(0s);
            }
            &.incomplete-2 {
                @include incomplete-step(1s);
            }
            &.incomplete-3 {
                @include incomplete-step(2s);
            }
            &.incomplete-4 {
                @include incomplete-step(3s);
            }

            &.cancelled {
                @include complete-step(1s, var(--red));
            }

            &.returned {
                @include complete-step(3s, var(--indigo));
            }
        }
    }
}

@keyframes stepComplete {
    from {
        opacity: 0;
        box-shadow: 1px 1px 2px rgba(0, 255, 0, 0.9);
    }
    to {
        opacity: 1;
    }
}

@keyframes stepProgress {
    0% {
        left: -50%;
        opacity: 0;
        width: 10%;
        box-shadow: 1px 1px 2px rgba(0, 255, 0, 0.9);
    }
    100% {
        left: -50%;
        opacity: 1;
        width: 100%;
    }
}
