@import "../../../variables.scss";

section.card-wrapper {
  margin-left: 10%;
  margin-right: 10%;

  .content-heading {
    h6 {
      font-family: $ptserif-font-family;
      text-align: center;
      span {
        letter-spacing: 0.1rem;
        font-size: 1.3rem;
        margin-top: 0.4rem;
      }
      span.x,
      span.y {
        border: 2px solid #333;
        width: 30px;
        display: none;
        margin-bottom: 4px;
        border-radius: 5px;
      }
      span.x {
        margin-right: 4px;
      }
      span.y {
        margin-left: 4px;
      }
    }

    span.shop-msg {
      display: block;
      text-align: center;
      font-size: 1rem;
      letter-spacing: 0.1rem;
    }
  }


}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  section.card-wrapper {
    margin-left: 10%;
    margin-right: 10%;
  
    .content-heading {
      // border:1px solid red;
      // margin-bottom: 1rem;
      h6 {
        // border:1px solid red;
        text-align: center;
        span {
          letter-spacing: 0.1rem;
          font-size: 1.3rem;
          margin-top: 0.4rem;
        }
        span.x,
        span.y {
          border: 2px solid #333;
          width: 50px;
          display: inline-block;
          margin-bottom: 4px;
        }
        span.x {
          margin-right: 4px;
        }
        span.y {
          margin-left: 4px;
        }
      }
  
      span.shop-msg {
        display: block;
        text-align: center;
        font-size: 1rem;
        letter-spacing: 0.1rem;
      }
    }
  
    
  }
  
  
 
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  section.card-wrapper {
    // border:1px solid red;
    margin-top: 2rem;
    margin-left: 10%;
    margin-right: 10%;
  
    .content-heading {
      // border:1px solid red;
      margin-bottom: 1rem;
      h6 {
        // border:1px solid red;
        text-align: center;
        span {
          letter-spacing: 0.1rem;
          font-size: 1.3rem;
          margin-top: 0.4rem;
        }
        span.x,
        span.y {
          border: 2px solid #333;
          width: 50px;
          display: inline-block;
          margin-bottom: 4px;
        }
        span.x {
          margin-right: 4px;
        }
        span.y {
          margin-left: 4px;
        }
      }
  
      span.shop-msg {
        display: block;
        text-align: center;
        font-size: 1rem;
        letter-spacing: 0.1rem;
      }
    }
  
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {


}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  
}

// Extra large devices (x large desktops, 1200px and up)
@media (min-width: 1750px) {

}
