@import "../../../../variables.scss";

div.container-fluid {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    z-index: 2000;
    div.loading-wrapper {

        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
        div.card {
            .card-footer {
                background-color: #fff;
                h5 {
                    font-weight: 600;
                    letter-spacing: 0.25rem;
                }
            }
            div.card-body {
                div.spinner-border {
                    width: 3rem;
                    height: 3rem;
                    // border-width: 1rem;
                }
            }
        }
    }
}
