<div class="app-orders"
     *ngIf="ods.orders$ | async as orders"
     @fadeIn>

    <div class="app-orders-header">
        <div class="card">
            <div class="card-body">
                <h6>{{labels.ordertitle}}</h6>
            </div>
        </div>
    </div>
    <div class="app-orders-body mt-3">
        <app-order [order]="order"
                   *ngFor="let order of orders"></app-order>
    </div>

    <div class="app-orders-footer d-flex flex-column flex-sm-row justify-content-sm-end">
        <button class="btn  btn-dark">
            <span>{{labels.showMore}}</span>
        </button>
    </div>


</div>