<div class="item-image-wrapper">

    <div class="row">
        <div class="col-6">
            <div class="item-image"><img src="../../assets/images/item1.jpeg"
                     alt="image01" /></div>
        </div>
        <div class="col-6">
            <div class="item-image"><img src="../../assets/images/item2.jpeg"
                     alt="image01" /></div>
        </div>
        <div class="col-6">
            <div class="item-image"><img src="../../assets/images/item3.jpeg"
                     alt="image01" /></div>
        </div>
        <div class="col-6">
            <div class="item-image"><img src="../../assets/images/item4.jpeg"
                     alt="image01" /></div>
        </div>
    </div>
</div>

