<div class="row">
    <div class="col-12 col-md-6">
        <div class="buy-wrapper">
            <button type="button"
                    class="btn  btn-outline-dark"
                    (click)="addToCart()">
                <fa-icon icon="shopping-cart"></fa-icon> Add to Cart
            </button>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="buy-wrapper">
            <button type="button"
                    class="btn  btn-dark">
                <fa-icon icon="shopping-bag"></fa-icon> Buy Now
            </button>
        </div>
    </div>

</div>