@import "../../../../../../variables.scss";
@import "../../../../../../animate.scss";

div.buy-wrapper{
    font-family: $poppins-font-family;
    button{
      font-family: $poppins-font-family;
      margin-right: 1rem;
      // margin-top: 1rem;
      font-weight: 600;
      letter-spacing: .01rem;
      width: 100%;
    }
  }