@import "../../../../../../variables.scss";

div.alert-wrapper{
  font-family: $poppins-font-family;
  div.alert{
    h6{
      display: inline-block;
    }
    ol{
      display: inline;
      li{
        background-color:  transparent;
        border-width: 0px;
        margin-bottom: .1rem;
        font-weight: 600;
      }
    }
  }
}

div.buy-wrapper{
    font-family: $poppins-font-family;
    button{
      font-family: $poppins-font-family;
      margin-right: 1rem;
      // margin-top: 1rem;
      font-weight: 600;
      letter-spacing: .01rem;
      width: 100%;
    }
  }