@import "../../../../../../variables.scss";

div.alert-wrapper{
  font-family: $roboto-font-family;
  div.alert{
    h6{
      display: inline-block;
    }
    ol{
      display: inline;
      li{
        background-color:  transparent;
        border-width: 0px;
        margin-bottom: .1rem;
        font-weight: 600;
      }
    }
  }
}

div.buy-wrapper{
    font-family: $roboto-font-family;
    button{
      margin-right: 1rem;
      letter-spacing: .045rem;
      width: 100%;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
      font-size: .8rem;
      text-transform: uppercase;
      font-weight: 600;
    }
  }