<div class="row animated fadeIn mb-3">

    <div class="col-12 col-md-12 col-lg-12 col-xl-6 mt-2 mt-lg-1">
        <div class="buy-wrapper">
            <button type="button"
                    class="btn btn-dark"
                    (click)="addToCart()">
                <fa-icon icon="shopping-cart"></fa-icon> Add to Cart
            </button>
        </div>
    </div>
    <div class="col-12 col-md-12 col-lg-12 col-xl-6 mt-3 mt-lg-1">
        <div class="buy-wrapper">
            <button type="button"
                    class="btn btn-secondary">
                <fa-icon icon="shopping-bag"></fa-icon> Buy Now
            </button>
        </div>
    </div>

</div>