@import '../../../../variables.scss';
ul {
    font-family: $roboto-font-family;
    li {
        button {
            text-transform: uppercase;
            letter-spacing: 0.045rem;
            font-size: .8rem;
            border-radius: 20px;
            padding-left: 1rem;
            padding-right: 1rem;
            font-weight: 600;
        }
    }
}