@import '../../../../../../variables.scss';

div.size-wrapper {
    // margin-top: 1rem;
    margin-bottom:1rem;
    font-family: $poppins-font-family;

    h6 {
      text-transform: uppercase;
      font-weight: 600;
      margin-right: 2rem;
      letter-spacing: .10rem;
      margin-bottom: 1rem;
    }

    ul.list-inline {
      
      li.list-inline-item {
        

        span {
          display: inline-block;
          font-weight: 600;
          text-align: center;
          line-height: 40px;
          width: 40px;
          height: 40px;
          border-radius: 10%;
          font-size: 1rem;

          fa-icon{
            color: $secondary-text-color;
          }
          &:hover{
            background-color: $primary-text-color;
            color: $secondary-text-color;
            cursor: pointer;

          }
        }
      }
    }
  }