    <!--item start-->
        <div class="item my-3">
          
          <div class="item-heading">
            <img src="../../assets/images/item1.jpeg" alt="image01" />
            <img src="../../assets/images/item2.jpeg" alt="image02" />
  
             <div class="item-mask">
              <ul class="list-group">
                <li class="list-group-item">
                  <fa-icon icon="search"></fa-icon>
                </li>
                <li class="list-group-item">
                  <fa-icon icon="heart"></fa-icon>
                </li>
                <li class="list-group-item">
                  <button class="btn btn-light" (click) ="routeToItemDetails()">view details</button>
                </li>
                
              </ul>
            </div>
          </div>
          <div class="item-body py-4">
            <h6>
              <span class="name">lourine scripture</span> |
              <span class="size">XL</span>
            </h6>
            <h6>
              <span class="price">AED 400</span>
            </h6>
          </div>
        </div>
      <!--item end-->