<div class="app-account-menu">

    <div class="card ">
        <div class="card-header">
            <ul class="list-group list-group-flush"
                @fadeIn>
                <li class="list-group-item">
                    <a routerLink="dashboard"
                       routerLinkActive="active">
                        <fa-icon icon="desktop"></fa-icon>
                        <span>{{labels.overview}}</span>
                    </a>
                </li>

            </ul>
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush"
                @fadeIn>
                <li class="list-group-item">
                    <a routerLink="profile"
                       routerLinkActive="active">
                        <fa-icon class="fas"
                                 [icon]="['fas','user']"></fa-icon>
                        <span>{{labels.profile}}</span>
                    </a></li>

                <li class="list-group-item">
                    <a routerLink="orders"
                    routerLinkActive="active">
                        <fa-icon icon="shopping-bag"></fa-icon>
                        <span>{{labels.orders}}</span>
                    </a></li>
                <li class="list-group-item">
                    <a routerLink="addresses"
                       routerLinkActive="active">
                        <fa-icon icon="address-book"></fa-icon>
                        <span>{{labels.addresses}}</span>
                    </a></li>

            </ul>
        </div>
    </div>

</div>