<div class="app-account-menu">
    <ul class="list-group list-group-flush order">
        <li class="list-group-item">
            <a routerLink="orders"
               routerLinkActive="active">
                <fa-icon icon="shopping-bag"
                         class="left"></fa-icon>
                <span>{{labels.orders}}</span>
                <fa-icon icon="angle-right"
                         class="right"></fa-icon>
            </a>
        </li>
    </ul>

    <ul class="list-group list-group-flush"
        @fadeIn>
        <li class="list-group-item">
            <a routerLink="dashboard"
               routerLinkActive="active">
                <fa-icon icon="desktop"></fa-icon>
                <span>{{labels.overview}}</span>
            </a>
        </li>
        <li class="list-group-item">
            <a routerLink="profile"
               routerLinkActive="active">
                <fa-icon class="fas"
                         [icon]="['fas','user']"></fa-icon>
                <span>{{labels.profile}}</span>
            </a></li>


        <li class="list-group-item">
            <a routerLink="addresses"
               routerLinkActive="active">
                <fa-icon icon="address-book"></fa-icon>
                <span>{{labels.addresses}}</span>
            </a></li>

    </ul>


</div>