<!--item start-->
<div class="item my-3">

    <div class="item-heading  loading">
    </div>
    <div class="item-body py-2 ">
      <div class="color-codes">
        <ul class="list-inline">
          <li class="list-inline-item" >
            <span class="color-icon loading"></span>
          </li>
          <li class="list-inline-item" >
            <span class="color-icon loading"></span>
          </li>
          <li class="list-inline-item" >
            <span class="color-icon loading"></span>
          </li>
          <li class="list-inline-item" >
            <span class="color-icon loading"></span>
          </li>
          <li class="list-inline-item" >
            <span class="color-icon loading"></span>
          </li>
  
        </ul>
      </div>
      <h6>
        <span class="name loading"> </span>
      </h6>
      <h6>
        <span class="price loading"> </span>
      </h6>
    </div>
  </div>
  <!--item end-->