@import "../../../../variables.scss";

div.item {
  position: relative;
  overflow: hidden;

  div.item-heading {
    width: 100%;
    height: 200px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    img {
      width: 100%;
      position: absolute;
      left: 0%;
      opacity: 1;
      height: 200px;
      border-radius: 2px;

      &:nth-child(1) {
        left: 0%;
      }
      &:nth-child(2) {
        left: 100%;
        transition: all 0.5s ease-out;
        opacity: 0;
      }
    }

    div.item-size {
      position: absolute;
      float: right;
      right: 2%;
      bottom: 45%;
      ul {
        li {
          padding: 0.2rem;
          background-color: transparent;
          border: none;
          padding-bottom: 0px;
          span.size {
            display: inline-block;
            font-weight: 600;
            border: 1px solid $primary-border-color;
            color: $primary-text-color;
            text-align: center;
            line-height: 18px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            font-size: 0.6rem;
          }
        }
      }
    }

    div.item-mask {
      position: absolute;
      width: 100%;
      height: 200px;
      z-index: 1;
      opacity: 0;
      background-color: rgba(0, 0, 0, 0.2);
      ul.list-group {
        li.list-group-item {
          background: transparent;
          border-top-width: 0px;
          border-bottom-width: 0px;
          border-width: 0px;
          color: #f1f1f1;
          padding: 0;
          &:nth-child(3) {
            margin-top: 60%;
            text-align: center;
          }

          button {
            font-size: 0.5rem;
            letter-spacing: 0.025rem;
            text-transform: capitalize;
            border-radius: 15px;
            border-width: 2px;
            font-family: "Poppins", sans-serif;
            padding-top: 0.2rem;
            padding-bottom: 0.2rem;
            padding-left: 0.3rem;
            padding-right: 0.3rem;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
            opacity: 0;
            font-weight: 600;
          }
        }
      }
    }

    &:hover {
      div.item-mask {
        transition: all 0.5s ease-out;
        opacity: 1;

        ul.list-group {
          li.list-group-item {
            button {
              opacity: 1;
              animation: fadeInUp;
              animation-duration: 0.5s;
            }
          }
        }
      }
      div.item-size {
        ul {
          li {
            span {
              border: 2px solid $secondary-border-color;
              color: $secondary-text-color;
              transition: all 0.5s ease-in;
            }
          }
        }
      }
      img {
        &:nth-child(2) {
          left: 0%;
          opacity: 1;
        }
      }
    }
  }
  div.item-body {
    position: relative;
    font-family: $poppins-font-family;
    h6 {
      text-align: center;
      margin-bottom: 0;
      span.name,
      span.size {
        letter-spacing: 0.025rem;
        font-size: 0.6rem;
        text-transform: capitalize;
        font-family: $ptserif-font-family;
      }
      span.size {
        font-weight: 600;
        margin-left: 0.2rem;
      }

      span.price {
        font-weight: 600;
        letter-spacing: 0.025rem;
        font-size: 0.6rem;
      }
    }

    div.color-codes {
      font-size: 1.2rem;
      text-align: center;
      ul {
        margin-bottom: 0.2rem;
        li {
          cursor: pointer;
        }
      }
    }
  }
}

@media (min-width: 460px) {
  div.item {
    position: relative;
    overflow: hidden;

    div.item-heading {
      width: 100%;
      height: 250px;
      cursor: pointer;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
      img {
        width: 100%;
        height: 250px;
      }

      div.item-mask {
        height: 250px;
        ul.list-group {
          li.list-group-item {
            &:nth-child(3) {
              margin-top: 80%;
            }
            button {
              padding-left: 0.6rem;
              padding-right: 0.6rem;
              font-size: .6rem;
            }
          }
        }
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

  div.item {
    div.item-heading {
      height: 280px;
      img {
        height: 280px;
      }
      div.item-mask {
        height: 280px;

        ul.list-group {
          li.list-group-item {
            &:nth-child(3) {
              margin-top: 100%;
            }
            button {
              
            }
          }
        }
      }
    }
    div.item-body {
      h6 {
        span.name,
        span.price {
        }
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  div.item {
    div.item-heading {
      height: 280px;
      img {
        height: 280px;
      }
      div.item-mask {
        height: 280px;

        ul.list-group {
          li.list-group-item {
            button {
              font-size: 0.6rem;
              padding-left: 0.8rem;
              padding-right: 0.8rem;
            }
          }
        }
      }
    }
    div.item-body {
      h6 {
        span.name,
        span.price {
          font-size: 0.8rem;
        }
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  div.item {
    div.item-heading {
      height: 400px;
      img {
        height: 400px;
      }

      div.item-size {
        bottom: 25%;
        ul {
          li {
            span.size {
              line-height: 30px;
              width: 30px;
              height: 30px;
              border-radius: 50%;
              font-size: 0.8rem;
            }
          }
        }
      }

      div.item-mask {
        height: 400px;

        ul.list-group {
          li.list-group-item {
            button {
              border-radius: 20px;
              padding: 0.5rem;
              padding-left: 1rem;
              padding-right: 1rem;
              font-size: 0.8rem;
            }
          }
        }
      }
    }
    div.item-body {
      h6 {
        span.name,
        span.price {
          font-size: 0.8rem;
        }
      }
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  div.item {
    div.item-heading {
      height: 400px;
      img {
        height: 400px;
      }
      div.item-mask {
        height: 400px;
        ul.list-group {
          li.list-group-item {
            &:nth-child(3) {
              margin-top: 80%;
            }
            button {
            }
          }
        }
      }
    }
  }
}

// Extra large devices (x large desktops, 1200px and up)
@media (min-width: 1750px) {
  div.item {
    div.item-heading {
      height: 500px;
      img {
        height: 500px;
      }

      div.item-mask {
        height: 500px;

        ul.list-group {
          li.list-group-item {

            button {
              
            }
          }
        }
      }
    }
  }
}
