<!--item start-->
<div class="item  my-1 my-lg-3" (click)="routeToItemDetails()">

  <div class="item-heading">
    <img *ngFor="let image of cardImages | slice:0:2"
         [src]="image.getUrl()"
         alt="" />

    
    <div class="item-size ">
      <ul class="list-group">
        <li class="list-group-item"
            *ngFor="let size of item.Sizes">
          <span class="size">{{size.getLetter()}}</span>
        </li>
      </ul>
    </div>

    <div class="item-mask">
      <ul class="list-group">
        <li class="list-group-item">
          <!-- <fa-icon icon="search"></fa-icon> -->
        </li>
        <li class="list-group-item">
          <!-- <fa-icon icon="heart"></fa-icon> -->
        </li>
        <li class="list-group-item">
          <button class="btn btn-light"
                  (click)="routeToItemDetails()">view details</button>
        </li>

      </ul>
    </div>

  </div>
  <div class="item-body py-2 ">
    <div class="color-codes">
      <ul class="list-inline">
        <li class="list-inline-item"
            *ngFor="let color of  item.Colors"
            (click)="showSimilarcolorImages(color)">
          <fa-icon [ngStyle]="{'color': color.getCode()}"
                   [icon]="['fas', 'stop']"></fa-icon>
        </li>

      </ul>
    </div>
    <h6>
      <span class="name">{{item.Name}}</span>
    </h6>
    <h6>
      <span class="price">{{item.Price.getCode()}} {{item.Price.getAmount()}}</span>
    </h6>
  </div>
</div>
<!--item end-->