.sidenav-mask {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  z-index: 1021;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 1022;
  background-color: white;
  a.closebtn {
    color: #111;
  }
}
