@import "../../../../variables.scss";

a.auth-profile-nav {
    color: $primary-text-color;
    text-decoration: none;
    cursor: pointer;
    div {
        text-align: center;
        .cart {
            cursor: pointer;
            text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
        }
    }
    fa-icon.fas {
        display: none;
    }
    span.label {
        text-decoration: none;
        font-weight: 600;
        letter-spacing: 0.1rem;
        text-transform: uppercase;
        font-size: 60%;
    }

    span.hog {
        position: relative;
        display: block;
        width: 0%;
        height: 3px;
        background-color: $primary-text-color;
        // left: 5px;
        top: 100%;
        transition: width 0.5s ease;
        border-radius: 5px;
    }

    &:hover {
        fa-icon.far{ display: none;}
        fa-icon.fas{display: inline-block;}
        span.hog {
            width: 100%;
        }
    }
}


div.pop-content {
    font-family: $roboto-font-family;
    ul.list-group.list-group-flush {
        padding: 0rem 1rem 0rem 1rem;
        border-bottom: 1px solid #f7f7f7;
        li {
            padding: 0.5rem 1rem 0.5rem 0rem;
            border: none;
            a {
                display: block;
                font-size: 1rem;
                color: $primary-text-color;
                font-size: 0.8rem;
                text-transform: capitalize;
                letter-spacing: 0.04rem;
                text-decoration: none;
                transition: all 0.2s ease-in;
                fa-icon {
                    margin-right: 0.6rem;
                }

                .badge {
                    margin-left: 1rem;
                    text-transform: lowercase;
                    padding-bottom: 0.2rem;
                }

                &:hover {
                    font-weight: 600;
                }
            }
        }
    }
}

div.pop-footer {
    margin-bottom: 1rem;
    text-align: center;
}

.pop-style {
    font-family: $roboto-font-family !important;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    min-width: 300px;
    max-width: 300px;
    h3.popover-header {
        background-color: white !important;
        padding: 1rem;
    }
}
