@import "../../../variables.scss";

a {
    color: $primary-text-color;
    text-decoration: none;
    cursor: pointer;
    div {
        text-align: center;
        .cart {
            cursor: pointer;
            text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
        }
    }

    span {
        text-decoration: none;
        font-weight: 600;
        letter-spacing: 0.1rem;
        text-transform: uppercase;
        font-size: 60%;
    }
}

div.pop-title {
    font-family: $roboto-font-family;
    width: 100%;
    text-align: center;
    a {
        b {
            text-transform: uppercase;
            letter-spacing: 0.025rem;
        }
    }

    a {
        span {
            letter-spacing: 0.025rem;
            text-transform: uppercase;
        }
        .badge {
            margin-left: 1rem;
            text-transform: lowercase;
            padding-bottom: 0.3rem;
        }
    }
}

div.pop-content {
    font-family: $roboto-font-family;
    ul {
        padding: 0rem 1rem 1rem 1rem;
        border-bottom: 1px solid #f7f7f7;
        li {
            padding: 0.5rem 1rem 0.5rem 0rem;
            border: none;
            a {
                font-size: 1rem;

                fa-icon {
                    margin-right: 1rem;
                }

                .badge {
                    margin-left: 1rem;
                    text-transform: lowercase;
                    padding-bottom: 0.3rem;
                }
            }
        }
    }
}

div.pop-footer {
    font-family: $roboto-font-family;

    ul {
        li {
            button {
                text-transform: uppercase;
                letter-spacing: 0.025rem;
                font-size: 0.8rem;
            }
        }
    }
}

ngb-popover-window.pop-style {
    box-shadow: 4px 4px 20px #333 !important;
}
