<a placement="bottom"
   [ngbPopover]="popContent"
   [popoverTitle]="popTitle"
   triggers="mouseenter"
   [autoClose]="'outside'"
   [popoverClass]="'pop-style'">
   <div>
      <fa-icon icon="user-circle"></fa-icon>
   </div>
   <span class="small d-none d-md-block">profile</span>
</a>

<ng-template #popTitle>
   <div class="row">
      <div class="col-12 pop-title">
         <a class="btn btn-sm btn-light btn-block"
            *ngIf="authUser?.IsAnonymous"
            [routerLink]="[{outlets: {'secure': ['auth']}}]">
            <b>sign in</b> or <b>sign up</b>
         </a>
         <a *ngIf="!authUser?.IsAnonymous">

            <span>{{authUser?.Email}}</span>
            <span class="badge badge-dark badge-pill">edit</span>
         </a>
      </div>
   </div>
</ng-template>

<ng-template #popContent>
   <div class="row">
      <div class="col-12 pop-content">
         <ul class="list-group list-group-flush">
            <li class="list-group-item">
               <a href="#">
                  <fa-icon icon="user-circle"></fa-icon>
                  <span>profile</span>
                  <span class="badge  badge-pill"
                        [ngClass]="authUser?.IsEmailVerified ? 'badge-dark' : 'badge-danger'"
                        *ngIf="!authUser?.IsAnonymous"
                        >{{ authUser?.IsEmailVerified ? 'verified' : 'verify email?'}}</span>
               </a>
            </li>
            <li class="list-group-item">
               <a href="#">
                  <fa-icon [icon]="['fas', 'truck-loading']"></fa-icon>
                  <span>orders</span>
               </a>
            </li>
            <li class="list-group-item">
               <a href="#">
                  <fa-icon [icon]="['fas','info-circle']"></fa-icon>
                  <span>support</span>
               </a>
            </li>
            <li class="list-group-item">
               <a href="#">
                  <fa-icon [icon]="['fas','headset']"></fa-icon>
                  <span>contact us</span>
               </a>
            </li>
         </ul>
      </div>
   </div>
   <div class="row">
      <div class="col-12 pop-footer">
         <ul class="list-group list-group-flush"
             *ngIf="!authUser?.IsAnonymous">
            <li class="list-group-item">
               <button class="btn btn-sm btn-light btn-block"
                       (click)="authService.logOut()">
                  sign out
               </button>
            </li>
         </ul>
      </div>
   </div>

</ng-template>


<!-- " -->

<router-outlet name="secure"></router-outlet>