@import "../../../../variables.scss";

div.app-address-view {
    font-family: $roboto-font-family;
    div.address-view-header {
        div.card {
            @include card-style();
            div.card-body {
                div.head-wrapper {
                    display: flex;
                    justify-content: space-between;

                    h6 {
                        text-transform: uppercase;
                        letter-spacing: 0.025rem;
                        font-weight: 600;
                        padding-top: 0.5rem;
                        font-size: 1rem;
                    }
                    a {
                        font-size: 0.8rem;
                        span {
                            margin: 0 0.5rem;
                            text-transform: uppercase;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }

    div.address-view-body {
        div.selected-ad-wrapper {
            // @include animate();
        }
        div.selected-ad-wrapper,
        div.other-ad-wrapper {
            label {
                color: var(--secondary);
                text-transform: uppercase;
                font-size: 0.8rem;
                letter-spacing: 0.08rem;
                font-weight: 600;
                margin-left: 1rem;
            }
        }
        div.no-ad-wrapper {
            div.alert.app-addresses-alert {
                font-weight: 600;
                &::first-letter {
                    text-transform: uppercase;
                }
            }
        }
    }
    div.address-view-footer {
        position: sticky;
        position: -webkit-sticky;
        bottom: 0px;
        background-color: #fff;
        border-top: 1px solid #f0f0f0;
        box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, 0.1);
        div.address-view-controls {
            display: flex;
            justify-content: flex-end;
            button {
                font-size: 0.8rem;
                font-weight: 600;
                letter-spacing: 0.06rem;
                text-transform: uppercase;
                padding: 1rem 3rem;
                color: $secondary-text-color;
            }
        }
    }
}
