<section class="filter-header">
    <div class="row">
        <div class="col">
            <app-breadcrumb [prevPaths]="'[home]'"
                            [currentPath]="'shop'"></app-breadcrumb>
        </div>
        <div class="col  ">
            <div class="row">
                <div class="col ">
                    <app-sort-filter></app-sort-filter>
                    <app-category-filter [categories]="categories"
                                         [selectedCategory] = "selectedCategory"
                                            (categoryChange)="onCategoryChange($event)"
                                         ></app-category-filter>
                    <app-size-filter></app-size-filter>


                </div>

            </div>
        </div>
    </div>
</section>