section.filter-header {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3rem;

  ol.breadcrumb {
    background: transparent !important;
  }

  app-category-filter,
  app-sort-filter,
  app-size-filter,
  app-main-filter {
    display: inline-block;
    float: right;
  }

  
}
