<div class="container app-user-address-edit">
    <div class="row">
        <div class="col-12">
            <form formGroup="addressForm">

                <div class="row border border-secondary px-3">
                    <div class="col-12">
                        <div class="form-group">
                           
                            <input type="text"
                                   class="form-control"
                                   id="name"
                                   aria-describedby="enter your full name"
                                   >
                                   <label for="name">Name</label>
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone</label>
                            <input type="tel"
                                   class="form-control"
                                   id="phone"
                                   aria-describedby="enter phone number"
                                   placeholder="phone number">
                        </div>
                    </div>
                </div>

                <div class="row border border-primary mt-2 border-round">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="name">Address (House No, Building, Street, Area) *</label>
                            <input type="text"
                                   class="form-control"
                                   id="name"
                                   aria-describedby="enter your full name"
                                   placeholder="Name">
                        </div>

                    </div>
                    <div class="col-12 col-md-3">

                        <div class="form-group">
                            <label for="country">country</label>
                            <input type="text"
                                   class="form-control"
                                   id="country"
                                   aria-describedby="enter your full name"
                                   placeholder="country">
                        </div>

                    </div>
                    <div class="col-12 col-md-3">
                        <div class="form-group">
                            <label for="state">state</label>
                            <input type="text"
                                   class="form-control"
                                   id="state"
                                   aria-describedby="enter your full name"
                                   placeholder="state">
                        </div>

                    </div>
                    <div class="col-12 col-md-3">
                        <div class="form-group">
                            <label for="city">CITY</label>
                            <input type="text"
                                   class="form-control"
                                   id="city"
                                   aria-describedby="enter your full name"
                                   placeholder="city">
                        </div>

                    </div>
                    <div class="col-12 col-md-3">
                        <div class="form-group">
                            <label for="zipcode">zip code</label>
                            <input type="text"
                                   class="form-control"
                                   id="zipcode"
                                   aria-describedby="enter your full name"
                                   placeholder="zip code">
                        </div>

                    </div>

                </div>



                <button type="submit"
                        class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>