<div class="container app-user-address-edit">
    <div class="row">
        <div class="col-12">
            <form formGroup="addressForm">

                <div class="row border border-secondary px-3">
                    <div class="col-12">
                        <div class="form-group">

                            <input type="text"
                                   class="form-control"
                                   id="name"
                                   aria-describedby="enter your full name"
                                   #name
                                   >
                            <label for="name"
                            appMatfocus="name"
                            >Name</label>
                        </div>
                        <div class="form-group">

                            <input type="tel"
                                   class="form-control"
                                   id="phone"
                                   aria-describedby="enter phone number">
                            <label for="phone">Phone</label>
                        </div>
                    </div>
                </div>
                <div class="row border border-primary mt-2 border-round">
                    <div class="col-12">
                        <div class="form-group">

                            <input type="text"
                                   class="form-control"
                                   id="name"
                                   aria-describedby="enter your full name">
                            <label for="name">Address (House No, Building, Street, Area) *</label>
                        </div>

                    </div>
                    <div class="col-12 col-md-3">

                        <div class="form-group">

                            <input type="text"
                                   class="form-control"
                                   id="country"
                                   aria-describedby="enter your full name">
                            <label for="country">country</label>
                        </div>

                    </div>
                    <div class="col-12 col-md-3">
                        <div class="form-group">

                            <input type="text"
                                   class="form-control"
                                   id="state"
                                   aria-describedby="enter your full name">
                            <label for="state">state</label>
                        </div>

                    </div>
                    <div class="col-12 col-md-3">
                        <div class="form-group">

                            <input type="text"
                                   class="form-control"
                                   id="city"
                                   aria-describedby="enter your full name">
                            <label for="city">city</label>
                        </div>

                    </div>
                    <div class="col-12 col-md-3">
                        <div class="form-group">

                            <input type="text"
                                   class="form-control"
                                   id="zipcode"
                                   aria-describedby="enter your full name">
                            <label for="zipcode">zip code</label>
                        </div>

                    </div>

                </div>



                <button type="submit"
                        class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>