@import "../../../../../variables.scss";

div.app-user-address-edit {
    font-family: $roboto-font-family;
    form {
        div.form-group {
            margin-top: 1rem;
            margin-bottom: 0rem;
            input {
                border: none;
                border-radius: 0px;
                border-bottom: 2px solid #333;
                padding: 0.5rem 0rem;
                font-size: 0.8rem;
                letter-spacing: 0.025rem;

                &:focus {
                    box-shadow: none;
                }
            }
            input:focus + label {
                font-weight: 600;
                text-transform: uppercase;
                top: -50px;
                margin-left: 0rem;
                font-size: 0.7rem;
                letter-spacing: 0.1rem;
            }

            label {
                position: relative;
                top: -30px;
                margin-left: 0.5rem;
                font-size: 0.7rem;
                letter-spacing: 0.01rem;
                text-transform: uppercase;

                transition: all 0.2s ease;
            }
        }
    }
    button {
        letter-spacing: 0.045rem;
        text-transform: uppercase;
        font-size: 0.8rem;
    }
}
