<ng-template #loading>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 ">
                <div class="card ">
                    <div class="card-body text-center">
                        <div class="spinner-border text-secondary"
                             style="width: 3rem; height: 3rem;"
                             role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</ng-template>

<div class="container app-user-address-edit"
     *ngIf="!!authUser; else loading">
    <div class="row">
        <div class="col-12">
            <form [formGroup]="addressForm"
                  (ngSubmit)="submit()">
                <div class="row ">
                    <div class="col-12 col-md-10">
                        <div class="card px-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <input type="text"
                                                   class="form-control"
                                                   id="name"
                                                   formControlName="name"
                                                   aria-describedby="enter your full name"
                                                   appMatfocus>
                                            <label for="name">{{labels.formLabels.name}}</label>
                                            <span class="text-danger"
                                                  *ngIf="addressForm.controls.name.touched && !!addressForm.controls.name.errors">{{labels.invalidName}}</span>
                                        </div>
                                        <div class="form-group">
                                            <input type="tel"
                                                   class="form-control"
                                                   id="phone"
                                                   formControlName="phone"
                                                   aria-describedby="enter phone number"
                                                   appMatfocus>
                                            <label for="phone">{{labels.formLabels.phone}}</label>
                                            <span class="text-danger"
                                                  *ngIf="addressForm.controls.phone.touched && !!addressForm.controls.phone.errors">{{labels.invalidPhone}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row mt-2">
                    <div class="col-12 col-md-10">
                        <div class="card px-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <input type="text"
                                                   class="form-control"
                                                   id="street"
                                                   formControlName="street"
                                                   aria-describedby="enter your street address"
                                                   appMatfocus>
                                            <label for="street">{{labels.formLabels.street}}</label>
                                            <span class="text-danger"
                                                  *ngIf="addressForm.controls.street.touched && !!addressForm.controls.street.errors">{{labels.invalidStreet}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-10 col-md-5">
                                        <ng-template #crt
                                                     let-r="result"
                                                     let-t="term">
                                            <button class="btn btn-dark text-white"
                                                    style="font-size: .6rem;">
                                                <ngb-highlight [result]="r"
                                                               [term]="t">
                                                    {{r}}
                                                </ngb-highlight>
                                            </button>
                                        </ng-template>

                                        <div class="form-group">
                                            <input type="text"
                                                   class="form-control"
                                                   id="country"
                                                   formControlName="country"
                                                   aria-describedby="enter your country name"
                                                   [ngbTypeahead]="findCountry"
                                                   [resultTemplate]="crt"
                                                   [editable]="false"
                                                   [placement]="'bottom'"
                                                   [appMatfocus]="'country-label'">

                                            <label id="country-label"
                                                   for="country">{{labels.formLabels.country}}</label>
                                            <span class="text-danger"
                                                  *ngIf="(addressForm.controls.country.touched 
                                                  && addressForm.controls.country.invalid )">{{labels.invalidCountry}}</span>
                                        </div>

                                    </div>
                                    <div class="col-1">
                                        <div class="spinner-border country-spinner"
                                             role="status"
                                             *ngIf="searchingCtr">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-5">
                                        <div class="form-group">
                                            <ng-template #scrt
                                                         let-r="result"
                                                         let-t="term">
                                                <button class="btn btn-dark text-white"
                                                        style="font-size: .6rem;">
                                                    <ngb-highlight [result]="r"
                                                                   [term]="t">
                                                        {{r}}
                                                    </ngb-highlight>
                                                </button>
                                            </ng-template>
                                            <input type="text"
                                                   class="form-control"
                                                   id="state"
                                                   formControlName="state"
                                                   aria-describedby="enter your state name"
                                                   [appMatfocus]="'state-label'"
                                                   [ngbTypeahead]="findState"
                                                   [resultTemplate]="scrt"
                                                   [editable]="false"
                                                   [placement]="'bottom'">
                                            <label for="state"
                                                   id="state-label">{{labels.formLabels.state}}</label>
                                            <span class="text-danger"
                                                  *ngIf="addressForm.controls.state.touched && addressForm.controls.state.invalid">{{labels.invalidState}}</span>
                                        </div>

                                    </div>
                                    <div class="col-1">
                                        <div class="spinner-border state-spinner"
                                             role="status"
                                             *ngIf="searchingState">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-md-5">
                                        <div class="form-group">
                                            <ng-template #ccrt
                                                         let-r="result"
                                                         let-t="term">
                                                <button class="btn btn-dark text-white"
                                                        style="font-size: .6rem;">
                                                    <ngb-highlight [result]="r"
                                                                   [term]="t">
                                                        {{r}}
                                                    </ngb-highlight>
                                                </button>
                                            </ng-template>
                                            <input type="text"
                                                   class="form-control"
                                                   id="city"
                                                   formControlName="city"
                                                   aria-describedby="enter your city name"
                                                   [appMatfocus]="'city-label'"
                                                   [ngbTypeahead]="findCity"
                                                   [resultTemplate]="ccrt"
                                                   [editable]="false"
                                                   [placement]="'bottom'">

                                            <label for="city"
                                                   id="city-label">{{labels.formLabels.city}}</label>
                                            <span class="text-danger"
                                                  *ngIf="addressForm.controls.city.touched && addressForm.controls.city.invalid">{{labels.invalidCity}}</span>
                                        </div>
                                    </div>
                                    <div class="col-1">
                                        <div class="spinner-border city-spinner"
                                             role="status"
                                             *ngIf="searchingCity">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <div class="form-group">
                                            <input type="text"
                                                   class="form-control"
                                                   id="zipcode"
                                                   formControlName="zipcode"
                                                   aria-describedby="enter your zipcode"
                                                   appMatfocus>
                                            <label for="zipcode">{{labels.formLabels.zipcode}}</label>
                                            <span class="text-danger"
                                                  *ngIf="addressForm.controls.zipcode.touched && addressForm.controls.zipcode.invalid">
                                                {{labels.invalidCity}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row mt-3">
                    <div class="col-12 col-md-8 offset-md-1 ">
                        <button type="submit"
                                class="btn  btn-dark btn-block"
                                [disabled]="!addressForm.valid">
                            <fa-icon [icon]="['fas', 'spinner']"
                                     [spin]="true"
                                     *ngIf="saveProgress"></fa-icon>

                            {{isUpdateMode ?labels.formLabels.updateAddress :labels.formLabels.saveAddress}}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>