@import "../../../../../variables.scss";
div.app-user-profile {
    font-family: $roboto-font-family;
    padding-left: 0px;
    padding-right: 0px;
    @include md {
        padding-left: 15px;
        padding-right: 15px;
    }
    div.card {
        box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
        div.card-body {
            &.email-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                @include sm {
                    flex-direction: row;
                    justify-content: space-between;
                }

                h6 {
                    letter-spacing: 0.025rem;
                }
                button {
                    font-size: 0.8rem;
                    letter-spacing: 0.025rem;
                    span {
                        margin-left: 0.5rem;
                        text-transform: uppercase;
                        font-weight: 600;
                    }
                }
            }
            &.phone-wrapper {
                display: flex;
                flex-direction: column;
                div.phone,
                div.name {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    label {
                        font-size: 0.8rem;
                        letter-spacing: 0.025rem;
                        text-transform: uppercase;
                        margin-right: 1rem;
                        font-weight: 600;
                    }
                    h6 {
                        letter-spacing: 0.025rem;
                    }
                }
            }
        }
    }

    div.prof-controls {
        button {
            font-size: 0.8rem;
            text-transform: uppercase;
            letter-spacing: 0.045rem;
        }
    }
}
