@import "../../../../../variables.scss";

div.side-filter-bar-wrapper {
    font-family: $roboto-font-family;
    display: flex;
    justify-content: flex-end;
    margin-top: 5rem;
    position: sticky;
    top: 150px;
    @include animate(fadeIn,1s);
    ul.list-group {
        li.list-group-item {
            background-color: transparent;
        }
        li.filter-group-heading {
            h6 {
                span {
                    margin-left: 0.5rem;
                    letter-spacing: 0.065rem;
                    text-transform: uppercase;
                    font-weight: 600;
                }
            }
        }
    }
}
