@import '../../../../../variables.scss';

div.size-wrapper {
    margin-top: 2rem;
    margin-bottom:3rem;

    h6 {
      text-transform: uppercase;
      font-weight: 600;
      margin-right: 2rem;
      letter-spacing: .10rem;
    }

    ul.list-inline {
      
      li.list-inline-item {
        

        span {
          display: inline-block;
          font-weight: 600;
          border: 1px solid $primary-border-color;
          // padding-top: 15%;
          // padding-right: 4%;
          text-align: center;
          line-height: 40px;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          font-size: 1rem;
          &:hover{
            background-color: $primary-text-color;
            color: $secondary-text-color;
            cursor: pointer;
          }
        }
      }
    }
  }