<section class="look-book">
    <div class="row">
        <div class="col content-heading py-4">
          <h6 class=" "><span class="x"></span> <span>fooz collections</span><span class="y"></span> </h6>
          <span class="shop-msg">Explore</span>
          <span class="shop-msg">
            <fa-icon icon="arrow-alt-circle-down"></fa-icon>
          </span>
        </div>
      </div>

    <div class="row">
        <div class="col-12 col-md-6">
            <div class="lookbook-card">
                <div class="card-header">
                    <img src="../../assets/images/poster.jpeg" alt="" class="img-fluid">
                </div>
                <div class="card-mask">
                    <div class="card-msg">
                        <h6>view collection</h6>
                        <h2>fooz choice</h2>
                        <p>your world of fashion here</p>
                    </div>
                </div>
            </div>


        </div>
        <div class="col-12 col-md-6 ">

            <div class="lookbook-card">
                <div class="card-header">
                    <img src="../../assets/images/poster.jpeg" alt="" class="img-fluid">
                </div>
                <div class="card-mask">
                    <div class="card-msg">
                        <h6>view collection</h6>
                        <h2>fooz choice</h2>
                        <p>your world of fashion here</p>
                    </div>
                </div>

            </div>
        </div>
    </div>


</section>