
$ptserif-font-family:'PT Serif', serif;
$poppins-font-family: 'Poppins', sans-serif;
$font-family-base:  $poppins-font-family;

$heading-letter-spacing: 0.035rem;

$background-color: #f4f4f4;



$primary-text-color: #333;
$secondary-text-color: #f1f1f1;


$primary-border-color: #333;
$secondary-border-color: #f1f1f1;