
$ptserif-font-family:'PT Serif', serif;
$poppins-font-family: 'Poppins', sans-serif;
$font-family-base:  $poppins-font-family;

$heading-letter-spacing: 0.035rem;

$background-color: #f4f4f4;
$grey-bg-color: #f5f5f5;
$dark-bg-color: #333;




$primary-text-color: #333;
$secondary-text-color: #f1f1f1;
$grey-text-color: #636161;


$primary-border-color: #333;
$secondary-border-color: #f1f1f1;
$grey-border-color: #636161;