<div ngbDropdown
     #categ="ngbDropdown">
    <button class="btn btn-outline-dark mr-2"
            id="dropdownManual"
            ngbDropdownAnchor
            (focus)="categ.open()">
        <fa-icon icon="{{ !!this.selectedCategory? this.selectedCategory.getIcon() : 'layer-group' }}"></fa-icon>
        {{!!this.selectedCategory? this.selectedCategory.getLabel() : 'Categories'}}
    </button>
    <div ngbDropdownMenu
         aria-labelledby="dropdownManual">

        <button ngbDropdownItem
                *ngFor="let category of categories"
                id="{{category.getCode()}}"
                (click)="emitCategoryChange(category)">
            <fa-icon icon="{{category.getIcon() }}"></fa-icon>
             {{ category.getLabel() }}
        </button>
    </div>
</div>