@import "../../../../variables.scss";

nav.app-sec-nav-bar {
    font-family: $roboto-font-family;
    width: 100%;
    position: sticky;
    top: -1px;
    z-index: 1020;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 1%;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,.05);
    margin-bottom: .3rem;
    background-color: $bg-white;
    color: $primary-text-color;
    @include md {
        padding: 1rem 6%;
    }
    @include lg {
        padding: 1rem 8%;
    }

    div.left {
        @include md {
            padding: 1rem 0;
        }
        button {
            border-radius: 20px;
            transition-property: background-color;
            transition-duration: 0.3s;
            transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
            color: $primary-text-color;
            background-color: $bg-white;
            border-color: $bg-white;

            &:hover {
             
                background-color: $background-color;
                border-color: $background-color;
            }
            &:focus {
                box-shadow: none;
            }
        }
    }
    div.center {
        div.brand {
            padding: 0.375rem 0.75rem;
            font-family: $ptserif-font-family;
            a {
                color: $primary-text-color;
                text-decoration: none;
                fa-icon {
                    font-size: 1rem;
                    display: none;
                    @include md {
                        font-size: 2rem;
                        display: inline;
                    }
                }
                span.name {
                    font-size: 1rem;
                    font-weight: 600;
                    letter-spacing: 0.06rem;
                    margin: 0 0.5rem;
                    text-transform: uppercase;
                    @include md {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
    div.right {
        padding: 0.375rem 0.75rem;
        color: $primary-text-color;
    }
}
