@import "../../../../variables.scss";
div.card.app-lookbook-item {
  font-family: $roboto-font-family;
  border: none;
  border-radius: 0;

  div.card-body {
    padding: 2rem;
    text-align: center;
    transition: all .5s ease;

    &:hover{
      background-color: #f1f1f1;
    }

    h5.card-title {
      text-transform: uppercase;
      letter-spacing: 0.255rem;
      // font-size: .8rem;
      font-weight: 600;
      margin-bottom: 0;
    }
    a {
      text-transform: uppercase;
      letter-spacing: 0.05rem;
      padding-bottom: 2rem;
      font-size: 0.6rem;
      display: block;
      text-decoration: none;
      transition: all .5s ease;

      &:hover {
        font-weight: 600;
      }
    }

    div.lookbook-anchor {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
