@import "../../../../variables.scss";

@mixin card-ele-init {
  position: absolute;
  top: 0%;
  width: 100%;
}

.lookbook-card {
  border-width: 0px;
  height: 400px;
  // border: 2px solid green;
  border-radius: 2px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
  font-family:  $roboto-font-family;
  cursor: pointer;
  .lb-card-header {
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 2px;

    height: 100%;
    img {
      height: 100%;
      width: 100%;
      border-radius: 2px;
    }
  }
  
  div.card-tag {
    @include card-ele-init();
    span.title {
      background-color: #333;
      padding: 0.5rem;
      text-transform: uppercase;
      color: white;
      letter-spacing: 0.15rem;
      font-size: 0.8rem;
      // font-weight: 600;
    }
  }

  div.card-like {
    @include card-ele-init();
    padding-right: 10%;
    // border: 1px solid red;
    span.like {
      float: right;
      padding: 0.5rem;
      background-color: #f1f1f1;
      border-radius: 50%;
      width: 35px;
      height: 35px;
      line-height: 19px;
      margin-top: 10px;
    }
  }
  div.card-msg {
    position: absolute;
    bottom: 10%;
    width: 100%;
    a {
      border: 2px solid $secondary-border-color;
      text-decoration: none;
      border-radius: 30px;
      width: 80%;
      margin-left: 5%;
      font-weight: 600;
      font-size: 0.8rem;
      letter-spacing: 0.025rem;
      margin-right: 2rem;
      margin-bottom: 1rem;
      background-color: $background-color;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
      // opacity: 0;
      transition: all 0.5s ease-out;
      text-transform: capitalize;
      &:hover {
        background-color: $dark-bg-color;
        color: $secondary-text-color;
        border-color: $primary-border-color;
      }
    }
  }

  div.card-desc {
    position: absolute;
    bottom: 30%;
    width: 70%;
    text-align: center;
    left: 15%;
    span.title,
    span.price {
      display: block;
      background: #333;
      color: #f1f1f1;
      padding: 0.5rem;
      letter-spacing: 0.15rem;
      font-size: 0.8rem;
      opacity: 0;
    }
  }

  &:hover {
    .lb-card-header {
      img {
        transform: scale(1.2);
        transition: all 0.5s ease-in;
      }
    }
    div.card-desc{
      span.title, span.price{
        opacity: 1;
        animation: fadeInDown;
        animation-duration: 0.5s;
      }
    }
    div.card-msg {
      a {
        opacity: 1;
        animation: fadeInDown;
        animation-duration: 0.5s;
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .lookbook-card {
    .lb-card-header {
      img {
      }
    }

    div.card-like {
   
      padding-right: 12%;
      span.like { }
    }
    
    div.card-msg {
      a {
        width: 60%;
        margin-left: 15%;
        &:hover {
        }
      }
    }

    &:hover {
      .lb-card-header {
        img {
        }
      }
      div.card-msg {
        a {
        }
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

  .lookbook-card {
    .lb-card-header {
      img {
      }
    }

    div.card-like {
   
      padding-right: 12%;
      span.like { }
    }
    div.card-msg {
      a {
        width: 60%;
        margin-left: 15%;
        &:hover {
        }
      }
    }

    &:hover {
      .lb-card-header {
        img {
        }
      }
      div.card-msg {
        a {
        }
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .lookbook-card {
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    .lb-card-header {
      img {
      }
    }

    

    div.card-msg {
      a {
        opacity: 0;
        &:hover {
        }
      }
    }

    &:hover {
      .lb-card-header {
        img {
        }
      }
      div.card-msg {
        a {
        }
      }
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .lookbook-card {
    height: 500px;
    .lb-card-header {
      img {
      }
    }

    div.card-msg {
      a {
        opacity: 0;
        &:hover {
        }
      }
    }

    &:hover {
      .lb-card-header {
        img {
        }
      }
      div.card-msg {
        a {
        }
      }
    }
  }
}
