@import '../../../../../../variables.scss';

.info-wrapper {
    margin-top: 1rem;
    font-family: $roboto-font-family;

    h6 {
      font-weight: 600;
      letter-spacing: 0.05rem;
      text-transform: capitalize;
     
    }
    p.price-wrapper{
      margin-bottom: 0rem;
      font-size: 1rem;
      font-weight: 600;
      span{
        float: right;
        margin-right: 10%;
      }
    }
    p.prod-code{
      font-weight: 400;
      span{
        font-weight: 600;
      }
    }
    p {
      font-size: .8rem;
      letter-spacing: 0.035rem;
      margin-bottom: 0.2rem;
    }
    p.prod-desc{
      color: $grey-text-color;
    }
  }