<div class="row animated fadeIn">
    <div class="col">
        <div class="info-wrapper">
            <h6>{{product.Name}}</h6>
            <p class="prod-code"> Code: <span>{{product.Id}}</span></p>
            <p class="prod-desc">{{product.Description}}</p>
            <hr>
            <p class="price-wrapper">
                <span class="price">{{product.Price.Code}} : {{product.Price.Amount}}</span>
                
            </p>
            <small class="tax-info small text-muted">inclusive of all taxes</small>
            <hr>
        </div>
    </div>
</div>
