@import '../../../../../../variables.scss';

.info-wrapper {
    margin-top: 1rem;
    font-family: $poppins-font-family;

    h4 {
      font-weight: 600;
      letter-spacing: 0.05rem;
      text-transform: capitalize;
     
    }
    h4.price-wrapper{
      margin-bottom: 0rem;
    }
    p.prod-code{
      font-weight: 400;
      span{
        font-weight: 600;
      }
    }
    p {
      // font-weight: 600;
      letter-spacing: 0.035rem;
      margin-bottom: 0.2rem;
    }
    p.prod-desc{
      color: $grey-text-color;
    }
  }