<div class="info-wrapper mt-4 mt-lg-0">
    <div class="name">
        <h4>{{product.Name}}</h4>
        <p class="prod-code"> Code: <span>{{product.Id}}</span></p>
        <p class="prod-desc">{{product.Description}}</p>
        <hr >
    </div>

    <div class="price-wrapper">
        <app-item-quantity></app-item-quantity>
        <span class="price">{{product.Price.Code}} : {{grossItemPrice}}</span>
        <small class="tax-info small text-muted">inclusive of all taxes</small>
    </div>

    <hr >
</div>