@import "../../../../variables.scss";

div.app-alert {
    div.left {
        padding: 0.5rem;
        h6 {
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 0.045rem;
        }
    }
    div.right {
        button {
            color: $secondary-text-color;
            font-size: 0.8rem;
            span {
                margin: 0 0.5rem;
                text-transform: uppercase;
                font-weight: 600;
            }
        }
    }
}
