<div class=" app-alert alert card-shadow my-2"
     [ngClass]="{
         'bg-success-light': config.type === type.SUCCESS,
         'bg-danger-light':config.type ===type.DANGER,
         'bg-warning-light':config.type === type.WARNING 
        }">
    <div class="d-flex justify-content-between align-items-center">
        <div class="left">
            <h6>{{config.title}}</h6>
            <ul>
                <li *ngFor="let msg of config.messages">
                    <small>{{msg}}</small>
                </li>
            </ul>
        </div>
        <div class="right"
             *ngIf="config.control">
            <button class="btn btn-sm btn-danger"
            (click) ="controlClicked()"
            >
                <fa-icon icon="{{config.control.icon}}"></fa-icon>
                <span>{{config.control.title}}</span>
            </button>
        </div>
    </div>
</div>