<section class="trend-item-wrapper">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-8">
            <div class="trend-item">
                <div class="trend-item-header">
                    <img src="../../assets/images/poster.jpeg" alt="image01" />
                    <!-- <img src="../../assets/images/item2.jpeg" alt="image02" /> -->
                </div>
            </div>
    
        </div>
        <div class="col-12 col-md-12 col-lg-4 border">
            <div class="trend-item-msg">
                something usual
            </div>
        </div>
    </div>
</section>


