@import "../../variables.scss";
@import "../../animate.scss";

.trend-item-wrapper {
  margin-left: 10%;
  background-color: #f8f9fa !important;
  margin-right: 10%;
  // font-family: $ptserif-font-family;
  .trend-item {
    // border: 3px solid $primary-border-color;

    .trend-item-header {
      overflow: hidden;
      img {
        padding: 0.4rem;
        height: 590px;
        width: 100%;
        border-radius: 10px;
        // &:hover {
        //   transform: scale(1.1);
        //   transition: all 0.3s ease-out;
        // }
      }
    }
  }

  .collection-item {
    .item-head {
      margin: 0.4rem;
      margin-bottom: 0.2rem;
      height: 100%;
      overflow: hidden;
      img {
        width: 100%;
       border-radius: 5px;

        &:hover {
          transform: scale(1.2);
          transition: all 0.5s ease-out;
        }
      }

      button.btn {
        position: absolute;
        left: 35%;
        top: 75%;
        border-color: #f1f1f1;
        padding: 0.5rem;
        letter-spacing: 0.1rem;
      }
    }
  }
}
