@import "../../../../../variables.scss";

div.card.app-user-address {
    font-family: $roboto-font-family;
    cursor: pointer;
    border-top: 1px solid #f0f0f0;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
    div.card-body {
        padding:1rem;
        ul.list-group {
           
            li.list-item {
                list-style: none;
                span.property {
                    font-size: 0.9rem;
                    letter-spacing: 0.025rem;
                    &.name,
                    &.phone {
                        font-weight: 600;
                    }
                }
                label {
                    font-size: 0.9rem;
                    letter-spacing: 0.025rem;
                    margin-right: 1rem;
                }
            }
        }
    }
    div.card-footer{
        display: flex;
        // opacity: 0;
        justify-content: space-between;
        background-color: transparent;

        a.card-link{
            text-transform: uppercase;
            font-size: .8rem;
            letter-spacing: .045rem;
            font-weight: 600;
        }


    }

  
}
