@import "../../../../../variables.scss";

div.card.app-user-address {
    font-family: $roboto-font-family;
    div.card-body {
        ul.list-group {
            padding: 0.5rem;
            li.list-item {
                list-style: none;
                span.property {
                    font-size: 0.9rem;
                    letter-spacing: 0.025rem;
                    &.name,
                    &.phone {
                        font-weight: 600;
                    }
                }
                label {
                    font-size: 0.9rem;
                    letter-spacing: 0.025rem;
                    margin-right: 1rem;
                }
            }
        }
    }
    div.card-footer{
        display: none;
        justify-content: space-between;
        background-color: transparent;

        a.card-link{
            text-transform: uppercase;
            font-size: .8rem;
            letter-spacing: .045rem;
            font-weight: 600;
        }


    }

    &:hover{
       div.card-footer{
           display: flex;
       }
    }
}
