<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-3 col-xl-3">
        <ul class="list-group brand-wrapper">
          <li class="list-group-item">
            <a class="brand"
               href="#">
              <fa-icon icon="atom"></fa-icon> <span>FOOZ</span>
            </a>
          </li>
          <li class="list-group-item address">
            <fa-icon icon="map-marker-alt"></fa-icon>
            <span> 184 Main Rd E, St Albans
              VIC 3021, Qatar</span>
          </li>
          <li class="list-group-item phone">
            <a href="tel:918951279801">
              <fa-icon icon="phone-alt"></fa-icon><span>+974-23456778</span>
            </a>
          </li>
          <li class="list-group-item instagram">
            <a href="#">
              <fa-icon [icon]="faInstagram"></fa-icon><span>foozdesigns</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-md-3 col-xl-3">
        <ul class="list-group shipping">
          <li class="list-group-item">
            <h6>
              <fa-icon icon="shipping-fast"></fa-icon><span>shipping</span>
            </h6>
          </li>
          <li class="list-group-item">
            <a href="">Shipping and delivery</a>
          </li>

        </ul>
      </div>
      <div class="col-12 col-sm-6 col-md-3 col-xl-3">
        <ul class="list-group  information">
          <li class="list-group-item">
            <h6>
              <fa-icon icon="info-circle"></fa-icon><span>information</span>
            </h6>
          </li>
          <li class="list-group-item">
            <a href="">Terms & Conditions</a>
          </li>
          <li class="list-group-item">
            <a href="">Privacy Policy</a>
          </li>

        </ul>
      </div>
      <div class="col-12 col-sm-6 col-md-3 col-xl-3">
        <ul class="list-group  contact">
          <li class="list-group-item">
            <h6>
              <fa-icon icon="headset"></fa-icon><span>contact</span>
            </h6>
          </li>
          <li class="list-group-item">
            <a href="">About Us</a>
          </li>
          <li class="list-group-item">
            <a href="">Contact Us</a>
          </li>

        </ul>
      </div>
    </div>
  </div>

</footer>