<footer class="footer"
        *ngIf="ss.loadingStatusPerRoute$ | async">
  <div class="container"
       *ngIf="hs.brand$ | async as brand">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-3 col-xl-3">
        <ul class="list-group brand-wrapper">
          <li class="list-group-item">
            <a class="brand"
               [routerLink]="['home']">
              <fa-icon icon="atom"></fa-icon> <span>{{brand.Name}}</span>
            </a>
          </li>
          <li class="list-group-item"
              *ngIf="brand.Phones.length > 0">
            <a class="phone"
               *ngFor="let phone of brand.Phones"
               href="tel:{{phone}}">
              <fa-icon icon="phone-alt"></fa-icon><span>{{phone}}</span>
            </a>
          </li>
          <li class="list-group-item"
              *ngIf="brand.Emails.length > 0">
            <a class="email"
               *ngFor="let email of brand.Emails"
               href="mailto:{{email}}">
              <fa-icon icon="envelope-open-text"></fa-icon><span>{{email}}</span>
            </a>
          </li>
          <li class="list-group-item insta"
              *ngIf="brand.Instagram">
            <a href="https://www.instagram.com/{{brand.Instagram}}"
               target="_blank">
              <fa-icon [icon]="['fab','instagram']"></fa-icon><span>{{brand.Instagram}}</span>
            </a>
          </li>
          <li class="list-group-item fb"
              *ngIf="brand.Facebook">
            <a href="https://www.facebook.com/{{brand.Facebook}}"
               target="_blank">
              <fa-icon [icon]="['fab','facebook']"></fa-icon><span>{{brand.Facebook}}</span>
            </a>
          </li>
          <li class="list-group-item twit"
              *ngIf="brand.Twitter">
            <a href="https://www.twitter.com/{{brand.Twitter}}"
               target="_blank">
              <fa-icon [icon]="['fab','twitter']"></fa-icon><span>{{brand.Twitter}}</span>
            </a>
          </li>
          <li class="list-group-item pin"
              *ngIf="brand.Pinterest">
            <a href="https://www.pinterest.com/{{brand.Pinterest}}"
               target="_blank">
              <fa-icon [icon]="['fab','pinterest']"></fa-icon><span>{{brand.Pinterest}}</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-md-3 col-xl-3">
        <ul class="list-group shipping">
          <li class="list-group-item">
            <h6>
              <fa-icon icon="shipping-fast"></fa-icon><span>{{labels.shipping}}</span>
            </h6>
          </li>
          <li class="list-group-item">
            <a href="">{{labels.shippingDelivery}}</a>
          </li>

        </ul>
      </div>
      <div class="col-12 col-sm-6 col-md-3 col-xl-3">
        <ul class="list-group  information">
          <li class="list-group-item">
            <h6>
              <fa-icon icon="info-circle"></fa-icon><span>{{labels.information}}</span>
            </h6>
          </li>
          <li class="list-group-item">
            <a href="">{{labels.termCondition}}</a>
          </li>
          <li class="list-group-item">
            <a href="">{{labels.privPolicy}}</a>
          </li>

        </ul>
      </div>
      <div class="col-12 col-sm-6 col-md-3 col-xl-3">
        <ul class="list-group  contact">
          <li class="list-group-item">
            <h6>
              <fa-icon icon="headset"></fa-icon><span>{{labels.contact}}</span>
            </h6>
          </li>
          <li class="list-group-item">
            <a href="">{{labels.support}}</a>
          </li>
          <li class="list-group-item">
            <a href="">{{labels.contactUs}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</footer>