@import "../../../variables.scss";

footer {
  margin-top: 10rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #000;
  font-family: $roboto-font-family;
  margin-left: -1px;
  ul.list-group.brand-wrapper {
    li.list-group-item {
      border-width: 0px !important;
      background-color: transparent;
      color: #878787;
      padding: 0.2rem 0.2rem 0.2rem 0.2rem;
      // padding-bottom: 1.2rem;
      a {
        color: #878787;
        &.brand {
          text-decoration: none;
          color: $secondary-text-color;
          font-size: 1.6rem;
          span {
            letter-spacing: $heading-letter-spacing;
            text-transform: uppercase;

            font-weight: 600;
            margin-left: 0.5rem;
          }
        }
      }

      span {
        display: inline-block;
        margin-left: 0.5rem;
        letter-spacing: 0.1rem;
      }

      &:first-child {
        // padding-bottom: 1.2rem;
      }
    }

    li.list-group-item.address {
      fa-icon {
        position: absolute;
      }
      span {
        margin-left: 1.2rem;
      }
    }
  }

  ul.list-group.collections,
  ul.list-group.information,
  ul.list-group.shipping,
  ul.list-group.contact {
    margin-top: 1rem;
    li.list-group-item {
      border-width: 0px !important;
      background-color: transparent;
      color: #878787;
      padding: 0.2rem 0.2rem 0.2rem 0.2rem;
      //   padding-bottom: 1.2rem;
      // font-family: $poppins-font-family;
      &:first-child {
        h6 {
          color: $secondary-text-color;
          letter-spacing: $heading-letter-spacing;
          text-transform: capitalize;
          // font-size: .9rem;
          margin-bottom: 0.4rem;
          font-weight: 600;
          span {
            margin-left: 0.3rem;
            letter-spacing: 0.045rem;
          }
        }
      }

      a {
        font-size: 0.9rem;
        letter-spacing: $heading-letter-spacing;
        text-decoration: none;
        color: #878787;

        &:hover {
          transition: all 0.2s ease-in-out;
          font-weight: 600;
          // color: #333;
        }
      }
    }
  }
}
